﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav setting">
    <li class="dropdown expect_collapse">
        <span class="btn-setting" data-toggle="dropdown" data-target="#">
            <i class="setting-icon setting-icon-show"></i></span>
        <ul class="dropdown-menu multi-level" id="level1" role="menu" aria-labelledby="dropdownMenu">
            <li class="text-center">
                <a href="javascript:void(0)"><strong class="title">Show</strong></a>
            </li>
            <li class="divider"></li>

            @*  *@
        </ul>
    </li>

    <li class="collapse-menu">
        <span class="btn-setting collapsed" data-toggle="collapse" data-target="#choose-interest" id="collapse_choose_interest">
            <i class="setting-icon setting-icon-setting"></i></span>
        @*<form role="form" method="post" enctype="multipart/form-data">*@
        <ul class="dropdown-menu" id="choose-interest" role="menu" aria-labelledby="dropdownMenu">
            <li class="text-center">
                <a href="javascript:void(0)"><strong class="title">Choose your Interest</strong></a>
            </li>
            <li class="divider"></li>

            @*  *@
        </ul>
        @*<button class="btn btn-default submit-hidden" type="submit">Submit hidden</button>*@
        @*</form>*@
    </li>

    <li class="change-view expect_collapse">
        <span class="btn-setting">
            <i class="setting-icon setting-icon-title"></i>
            <i class="setting-icon setting-icon-card"></i>
        </span>
    </li>

    <li class="expect_collapse" id="breadcrumb_link">
        <ol class="breadcrumb">
            <li class="btn-address btn-setting" id="toHome">
                <a href="@Url.Action("Index", "Home")">
                    <i class="menu-icon menu-icon-house"></i>
                </a>
            </li>
            @*  *@
        </ol>
    </li>

    <li class="expect_collapse">
        <ol class="breadcrumb" id="search-breadcrumb">
            <li class="btn-address btn-setting btn-search">
                <a href="javascript:void(0)">
                    <i class="menu-icon menu-icon-search"></i>
                </a>
            </li>
            @*  *@
        </ol>
    </li>

</ul>

<div id="result_search"></div>

<div class="home-view list-view card-view">
    @*  *@
</div>
@Html.Partial("PartialArticle")

@section scripts
{
    <script type="text/javascript">
        var username = "@ViewBag.username";
        var pwd = "@ViewBag.md5pwd";

        //check parameter for loading content 
        var manageSlug = '@ViewBag.manageSlug';
        var articleSlug = '@ViewBag.articleSlug';
        var page = 1;

        $(document).ready(function () {
            $("ul.navbar-menu > li:nth-child(4) > a").addClass("selected");

            loadSettingUserInterest(username, pwd);

            if (!manageSlug && !articleSlug) {
                getListArticlesLasted(username, pwd, 1, 10);
                $('.article-view').hide();
                $('.list-view').show();
            }
            else {
                if (articleSlug) {
                    if (manageSlug) {
                        //load article
                        getDetailOfArticle(username, pwd, articleSlug, manageSlug, -9);
                        $('.list-view').hide();
                        $('.article-view').show();
                    }
                }
                else {
                    //load manage
                    getListArticlesOfInterest(username, pwd, manageSlug, 1, 10);
                    $('.article-view').hide();
                    $('.list-view').show();
                }
            }

            $('.list-view').bind('scroll', function () {
                if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {

                    if (manageSlug) {
                        var maxpage = 1;
                        $('#level1 a').each(function () {
                            if (location.pathname.replace(/\//g, '').indexOf($(this).attr('href').replace(/\//g, '')) == 0) {
                                maxpage = Math.round(($(this).find('.count-number').text().match(/\d+/g)[0]) / 10 + 0.5);
                                return false;
                            }
                        });

                        if (page < maxpage) {
                            //console.log("BING!");
                            page++;
                            //console.log(page);
                            getMoreListArticlesOfInterest(username, pwd, manageSlug, page, 10);
                        }
                    }
                    else {
                        if (location.pathname == '/') {
                            var maxpage = 1;
                            maxpage = Math.round($.cookie("sumTotal") / 10 + 0.5);

                            if (page < maxpage) {
                                //console.log("BING!");
                                page++;
                                //console.log(page);
                                getMoreListArticlesLasted(username, pwd, page, 10);
                            }
                        }
                    }
                }
            });

            $(window).on("scroll", function () {
                var scrollHeight = $(document).height();
                var scrollPosition = $(window).height() + $(window).scrollTop();
                if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
                    if ($('.list-view').height() > 0 && $('.list-view').height() < 1370) {

                        if (manageSlug) {
                            var maxpage = 1;
                            $('#level1 a').each(function () {
                                if (location.pathname.replace(/\//g, '').indexOf($(this).attr('href').replace(/\//g, '')) == 0) {
                                    maxpage = Math.round(($(this).find('.count-number').text().match(/\d+/g)[0]) / 10 + 0.5);
                                    return false;
                                }
                            });

                            if (page < maxpage) {
                                //console.log("BING!");
                                page++;
                                //console.log(page);
                                getMoreListArticlesOfInterest(username, pwd, manageSlug, page, 10);
                            }
                        }
                        else {
                            if (location.pathname == '/') {
                                var maxpage = 1;
                                maxpage = Math.round($.cookie("sumTotal") / 10 + 0.5);

                                if (page < maxpage) {
                                    //console.log("BING!");
                                    page++;
                                    //console.log(page);
                                    getMoreListArticlesLasted(username, pwd, page, 10);
                                }
                            }
                        }
                    }
                }
            });
        });

        function loadListViewLasted(pages, itemsPerPage) {
            $.cookie("maxpage", Math.round(itemsPerPage / 10 + 0.5), { path: '/' });
            getListArticlesLasted(username, pwd, pages, 10);
            toHome();
        }

        function loadListViewOfInterest(manageSlug, pages, itemsPerPage) {
            getListArticlesOfInterest(username, pwd, manageSlug, pages, itemsPerPage);
            toHome();
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

    </script>
}