﻿@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav setting">
    <li class="">
        <ol class="breadcrumb" id="manage-breadcrumb">
            <li class="btn-address btn-setting btn-search">
                <a href="javascript:void(0)">
                    <i class="menu-icon menu-icon-search"></i>
                </a>
                <input type="search" placeholder="Search" class="" id="Search" name="Search" />
            </li>
            <li class="btn-address active" id="main-manage">
                <a href="@Url.RouteUrl("Manage", new { manageSlug = "", articleSlug = "" })">Manage</a>
            </li>
            @*  *@
        </ol>
    </li>

</ul>


<div class="manage-view">
    <ul class="multi-level level">
        @*  *@
    </ul>
</div>

<div class="manage-view list-view card-view">
    @*  *@
</div>
@Html.Partial("PartialArticle")

@section scripts
{
    <script type="text/javascript">
        var username = "@ViewBag.username";
        var pwd = "@ViewBag.md5pwd";

        //check parameter for loading content 
        var manageSlug = '@ViewBag.manageSlug';
        var articleSlug = '@ViewBag.articleSlug';

        $(document).ready(function () {
            $("ul.navbar-menu > li:nth-child(3) > a").addClass("selected");

            $('#Search').keypress(function (e) {
                if (e.which == 13) {
                    searchMyArticle(username, pwd, $(this).val());
                }
            });

            getFavoriteInterestStructure(username, pwd);
            $('.manage-view').show();
            $('.article-view, .list-view').hide();

            if (manageSlug || articleSlug) {
                if (articleSlug) {
                    if (manageSlug) {
                        //load article
                        getDetailOfArticle(username, pwd, articleSlug, manageSlug, -9);
                        $('.manage-view, .list-view').hide();
                        $('.article-view').show();
                    }
                }
                else {
                    //load manage
                    getFavListArticlesOfInterest(username, pwd, manageSlug, 1, 10, manageSlug);
                    $('.article-view, .manage-view').hide();
                    $('.list-view').show();
                }
            }

            $('.list-view').bind('scroll', function () {
                if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {

                    if (manageSlug) {
                        var maxpage = 1;
                        $('.manage-view .multi-level.level a').each(function () {
                            if (location.pathname.replace(/\//g, '').indexOf($(this).attr('href').replace(/\//g, '')) == 0) {
                                maxpage = Math.round(($(this).find('.count-number').text().match(/\d+/g)[0]) / 10 + 0.5);
                                return false;
                            }
                        });

                        if (page < maxpage) {
                            //console.log("BING!");
                            page++;
                            //console.log(page);
                            getMoreFavListArticlesOfInterest(username, pwd, manageSlug, page, 10, manageSlug);
                        }
                    }
                }
            });

            $(window).on("scroll", function () {
                var scrollHeight = $(document).height();
                var scrollPosition = $(window).height() + $(window).scrollTop();
                if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
                    if ($('.list-view').height() > 0 && $('.list-view').height() < 1370) {

                        if (manageSlug) {
                            var maxpage = 1;
                            $('#level1 a').each(function () {
                                if (location.pathname.replace(/\//g, '').indexOf($(this).attr('href').replace(/\//g, '')) == 0) {
                                    maxpage = Math.round(($(this).find('.count-number').text().match(/\d+/g)[0]) / 10 + 0.5);
                                    return false;
                                }
                            });

                            if (page < maxpage) {
                                //console.log("BING!");
                                page++;
                                //console.log(page);
                                getMoreFavListArticlesOfInterest(username, pwd, manageSlug, page, 10, manageSlug);
                            }
                        }
                    }
                }
            });

        });

        function loadListViewOfInterest(id, pages, itemsPerPage, name) {
            getFavListArticlesOfInterest(username, pwd, id, pages, itemsPerPage, name);
        }

        function toMainManage() {
            $('.article-view').hide();
            $('.manage-view.list-view').hide().html('');
            $('.manage-view > .multi-level').parent().show();
            $('#Search').hide("slow").val('');
            $('#main-manage').addClass('active');
            $('#manage-breadcrumb > li').each(function (index) {
                if (index > 1) {
                    $(this).remove();
                }
            });
        }

        function openLevel(id) {
            $('li#' + id).toggleClass("open");
            $('li#' + id).find(' > .count-number > i.fa').toggleClass('fa-angle-right').toggleClass('fa-angle-down');
        }

    </script>
}