﻿
<div class="article-view">
    <h1 class="title">@* *@</h1>
    <div class="next-previous">
        <span class="btn-setting">
            <i class="fa fa-chevron-left fa-2x"></i>
        </span>
        <span class="btn-setting">
            <i class="fa fa-chevron-right fa-2x"></i>
        </span>
    </div>
    <cite id="authorvstime">@* *@</cite>
    <div class="clear"></div>

    <div class="article-content">
        @*  *@
    </div>
    <div class="clear"></div>

    <div class="article-tools">
        <span class="btn-tool">
            <i class="tool-icon tool-icon-comment"></i>
        </span>
        <span class="btn-tool">
            <i class="tool-icon tool-icon-note"></i>
        </span>
        <span class="btn-tool">
            <i class="tool-icon tool-icon-share"></i>
        </span>

        <span class="like-tool">
            <span class="like-number">0</span>
            <span class="btn-tool">
                <i class="tool-icon tool-icon-like"></i>
            </span>
        </span>
    </div>

    <div class="share-tools">
        <div class="share-social">
            <a class="btn-tool facebook" data-url="@Request.Url.AbsoluteUri">
                <i class="fa fa-3x fa-facebook"></i>
            </a>
            <a class="btn-tool google-plus" href="#" onclick="javascript:window.open('@String.Format("https://plus.google.com/share?url={0}", Request.Url.AbsoluteUri)','',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" target="_blank">
                <i class="fa fa-3x fa-google-plus"></i>
            </a>
            <a class="btn-tool pinterest" href="@String.Format("https://www.pinterest.com/pin/create/button/?url={0}&media={1}&description={2}", Url.Encode(Request.Url.AbsoluteUri), Url.Encode("http://bentoportal.com/images/logo.png"),Url.Encode("Business Network for Training and Operation"))" 
               data-pin-do="buttonpin"
               data-pin-config="above" target="_blank">
                <i class="fa fa-3x fa-pinterest-square"></i>
            </a>
            <a class="btn-tool twitter" target="_blank" href="@String.Format("https://twitter.com/intent/tweet?url={0}&text={1}", Url.Encode(Request.Url.AbsoluteUri), Url.Encode("Business Network for Training and Operation"))">
                <i class="fa fa-3x fa-twitter"></i>
            </a>
        </div>
        <div class="share-default">
            <a class="btn-tool" href="mailto:khuong.le@ksqagency.com">
                <i class="fa fa-3x fa-envelope"></i>
            </a>
            <a class="btn-tool">
                <i class="fa fa-3x fa-files-o"></i>
            </a>
            <a class="btn-tool">
                <i class="fa fa-3x fa-download"></i>
            </a>
        </div>
    </div>

    <div class="notes-list">
        <div class="write-text">
            <div class="col-xs-2">
                <img src="@Url.Content("~/images/Entrepreneur.jpg")" class="img-responsive" />
            </div>
            <div class="col-xs-10">
                <form role="form" method="post" enctype="multipart/form-data">
                    <textarea id="Note" class="form-control" rows="4" name="Note" cols="20" placeholder="Write our notes"></textarea>
                    <i id="send-note" class="fa fa-paper-plane-o fa-3x"></i>
                </form>
            </div>
        </div>
        <div class="clear"></div>

        <div id="noteofuser">
            @*  *@
        </div>
    </div>

    <div class="comments-list">
        <div class="write-text">
            <div class="col-xs-2">
                <img src="@Url.Content("~/images/Entrepreneur.jpg")" class="img-responsive" />
            </div>
            <div class="col-xs-10">
                <form role="form" method="post" enctype="multipart/form-data">
                    <textarea id="Comment" class="form-control" rows="4" name="Comment" cols="20" placeholder="Write our comment"></textarea>
                    <i id="send-comment" class="fa fa-paper-plane-o fa-3x"></i>
                </form>
            </div>
        </div>
        <div class="clear"></div>

        <ul class="media-list">
            @*  *@
        </ul>
    </div>

    <div class="clear" id="scrollEnd"></div>
</div>

