﻿@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="@Url.Content("~/images/cover_default.jpg")" class="img-responsive cover-photo" />

<div class="log-in col-xs-8 col-xs-offset-2" id="log-in">
    <label>log in</label>
    <a href="javascript:void(0)" id="facebooklogin" class="facebook-login">
        <i class="fa fa-2x fa-facebook"></i>Log in with Facebook
    </a>

    <a href="javascript:void(0)" class="googlepls-login" id="signIngoogleplus">
        <i class="fa fa-2x fa-google-plus"></i>Log in with Google+
    </a>

    <label id="orlabel">or</label>

    <span class="error_msg"></span>
    <input type="text" placeholder="Email address" id="email-login" name="email-login" />
    <input type="password" placeholder="Password" id="pwd-login" name="pwd-login" />
    <div class="text-center" id="login-button-box">
        <a href="javascript:void(0)" class="button login" onclick="logInProfile()">log in</a>
        <a href="javascript:void(0)" class="button signup">sign up</a>
    </div>
</div>
<div class="clear"></div>


<div class="log-in col-xs-8 col-xs-offset-2" id="sign-up">
    <label>sign-up</label>
    <span class="error_msg"></span>
    <input type="text" placeholder="Name" id="name-signup" name="name-login" />
    <input type="text" placeholder="Date" id="date-signup" name="date-login" />
    <input type="text" placeholder="Email address" id="email-signup" name="email-login" />
    <input type="password" placeholder="Password" id="pwd-signup" name="pwd-login" />
    <div class="text-center">
        <a href="javascript:void(0)" class="button signup" onclick="signUpProfile()">sign up</a>
    </div>
</div>
<div class="clear"></div>


<div class="profile-view">
    <div class="profile-info">
        <div class="avatar-name">
            <div class="col-xs-5" id="avatar_profile">
                <form name="UploadAvatar" method="post" action="http://web.vietdev.vn/bento/api/accounts/update/avatar" enctype="multipart/form-data" target="ajaxUpdate">
                    <img src="" class="img-responsive profile-avatar" alt="avatar" />
                    <span class="btn-tool fakeupload" id="upavatar">
                        <i class="cam-icon cam-icon-cam"></i>
                    </span>
                    <input class="btn-tool btupload" type="file" id="Data" name="Data" />
                    <input type="hidden" name="Username" id="Username" value="@ViewBag.username" />
                    <input type="hidden" name="Password" id="Password" value="@ViewBag.md5pwd" />
                    <button type="submit" id="SubmitAvatar">Submit</button>
                </form>
            </div>
            <div class="col-xs-6 name-addr" id="name_addr">
                <h3 class="profile-name"></h3>
                @*<input type="text" class="profile-name-input" value="" />*@
                <h3 class="profile-addr"></h3>
                @*<input type="text" class="profile-addr-input" value="" />*@
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-xs-5">
            <h3 class="info-label">D.O.B<span class="info-value" id="dob">@*  *@</span></h3>
            @*<input type="datetime" value="6.6.1991" id="Birthday"><i class="birthday-icon fa fa-calendar"></i>*@
            <h3 class="info-label">Gender<span class="info-value" id="gender">@*  *@</span></h3>
            @*<select class="" id="select_gender">
                <option value="0">N/A</option>
                <option value="1" selected="selected">MALE</option>
                <option value="2">FEMALE</option>
            </select>*@
        </div>
        <div class="col-xs-6">
            @*<button class="" id="SaveProfile">Save</button>*@
            <iframe name="ajaxUpdate" id="ajaxUpdate"></iframe>
        </div>
        <div class="clear"></div>
    </div>

    <div class="profile-func">
        <a class="col-xs-6" href="javascript:void(0)">Share this Website</a>
        <a class="col-xs-6" href="javascript:void(0)">Rate your experience</a>
        <a class="col-xs-6" href="javascript:void(0)">Suggest something</a>
        <a class="col-xs-6" href="javascript:void(0)" id="logout">Log out</a>
        <a class="col-xs-6" href="javascript:void(0)">Report a problem</a>
        <div class="clear"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.navbar-menu > li:nth-child(2) > a").addClass("selected");

            var username = "@ViewBag.username";
            var pwd = "@ViewBag.md5pwd";

            $("#date-signup").datepicker({
                format: "mm.dd.yyyy",
                //todayBtn: "linked",
                todayHighlight: true,
                autoclose: true,
                startView: 2
            });

            getProfile(username, pwd);

            $('#SaveProfile').click(function () {
                var email = username;
                var fullname = $('.profile-name-input').val();
                var caption = $('.profile-addr-input').val();
                var birthday = $('#Birthday').val();
                var gender = $('#select_gender').find('option:selected').val();
                updateProfile(username, pwd, email, fullname, caption, gender, birthday);
            });

            $("#Data").change(function () {
                var f = this.files[0];
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    var image_target = $('img.profile-avatar');
                    reader.onload = function (e) {
                        image_target.attr('src', e.target.result).show();
                        //var data = e.target.result;
                        //var filename = f.name;
                        //var filetype = f.type;
                        //var size = f.size;

                        //updateAvatar(username, pwd, data, filename, filetype);
                        $('#SubmitAvatar').click();
                    };
                    reader.readAsDataURL(this.files[0]);
                    //reader.readAsText(this.files[0]);
                }
            });

            $('#email-login, #pwd-login').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#email-login').val().length > 0 && $('#pwd-login').val().length > 0) {
                        logInProfile();
                    }
                }
            });

            $('#email-signup, #pwd-signup, #name-signup, #date-signup').keypress(function (e) {
                if (e.which == 13) {
                    if ($('#email-signup').val().length > 0 && $('#pwd-signup').val().length > 0 && $('#name-signup').val().length > 0 && $('#date-signup').val().length > 0) {
                        signUpProfile();
                    }
                }
            });

        });

    </script>
}