﻿@{
    ViewBag.Title = "Sponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sponsor-view list-view card-view">
    @*  *@
</div>

<ul class="nav setting" id="sponsor-nav">
    <li class="">
        <ol class="breadcrumb">
            <li class="btn-address btn-setting">
                <a href="@Url.RouteUrl("Sponsor", new { slug = "" })">
                    <i class="menu-icon menu-icon-sponsor"></i>
                </a>
            </li>
            <li class="btn-address active">KSQ Agency</li>
        </ol>
    </li>

    <li class="sponsor-more-info">
        <a href="https://www.ksqagency.com">Visit our website for more information
                                        <i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>

<div class="sponsor-view sponsor-detail">
    @*  *@
</div>

@section scripts
{
    <script type="text/javascript">
        var username = "@ViewBag.username";
        var pwd = "@ViewBag.md5pwd";

        $(document).ready(function () {
            $("ul.navbar-menu > li:nth-child(1) > a").addClass("selected");

            //kiem tra slug sponsor
            var sponsorslug = '@ViewBag.sponsorSlug';
            if (sponsorslug) {
                //load sponsor
                getSponsorDetail(username, pwd, sponsorslug);
            } else {
                //load danh sach sponsor
                getSponsors(username, pwd);
            }

        });

    </script>
}