﻿@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helvetica-neue-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}

ul {
    list-style: outside none none;
}

h1, h2, h3 {
}

span, cite {
    color: #959595;
}

cite {
    font-style: italic;
    display: block;
}

q {
}

hr {
    margin-bottom: 15px;
    margin-top: 10px;
    border-color: #a1a1a1;
}

body {
    min-height: 100%;
    background-color: #ecf0f1;
    padding-top: 110px;
    padding-bottom: 110px;
}

/**/



/* nav */
.nav-pills > li > a {
    border-radius: 0;
}

.navbar, .footer,
.navbar a, .footer a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    width: 100%;
    height: 110px;
    background-color: #1d1847;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
    box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
    -moz-box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
    -webkit-box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
}

    .navbar .logo {
        display: block;
        float: left;
        width: 225px; /*(1)*/
        height: 100%;
        line-height: 110px; /*(2)*/
        margin: 0;
    }

    .navbar .navbar-menu {
        height: 100%;
        list-style: none;
        margin: 0 0 0 225px; /*(1)*/
        padding: 0;
    }

        .navbar .navbar-menu li {
            height: 100%;
            float: right;
            padding-left: 50px;
        }

            .navbar .navbar-menu li a {
                display: block;
                text-align: right;
                line-height: 110px; /*(2)*/
                font-size: 1.2em;
            }

                .navbar .navbar-menu li a:hover .menu-icon,
                .navbar .navbar-menu li a.selected .menu-icon {
                    background-image: url("../images/MenuHomeIcon_Selected.png");
                }

.navbar-menu li .menu-icon {
    top: 14px;
}

.menu-icon {
    display: inline-block;
    background-image: url("../images/MenuHomeIcon.png");
    background-repeat: no-repeat;
    position: relative;
    height: 29px;
}

.menu-icon-house {
    width: 33px;
    background-position: 0 0;
}

.menu-icon-manage {
    width: 33px;
    background-position: -33px 0;
}

.menu-icon-profile {
    width: 33px;
    background-position: -66px 0;
}

.menu-icon-sponsor {
    width: 101px;
    background-position: -99px 0;
}

.menu-icon-search {
    width: 33px;
    background-position: -200px 0;
}

/* end nav */



/* container */
.container {
    position: relative;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
    padding: 0;
}

.body-content {
    height: 100%;
    padding-top: 18px;
    margin: 0 -15px;
}

.panel {
    background-color: #ecf0f1;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}

.panel-heading {
    border: none;
    color: #333333;
    padding: 0;
}

.panel-body {
    padding: 0;
}

.feature-item {
    margin: 10px 0;
    display: block;
    padding-left: 75px;
    min-height: 65px;
    position: relative;
}

    .feature-item img {
        position: absolute;
        left: 0;
        display: inline-block;
        margin-right: 10px;
    }

.quote {
    display: inline-block;
}

    .quote:before {
        content: open-quote;
    }

    .quote:after {
        content: close-quote;
    }

.form-group {
    margin: 0;
    position: relative;
}

.input-subscribe {
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a3b1bf;
    display: block;
    font-size: 1.2em;
    height: 45px;
    padding: 6px 118px 6px 12px;
    width: 100%;
    font-style: italic;
}

.btn-subscribe {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ed1551;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top: 5px;
    right: 5px;
}



/* home */
.setting {
    margin: 20px 0;
    position: relative;
}

    .setting > li {
        float: left;
    }

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
    background-color: #fff;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
}

    .breadcrumb li, .breadcrumb li a {
        line-height: 20px;
        text-decoration: none;
    }

    .breadcrumb > li + li {
        margin-left: -4px;
    }

        .breadcrumb > li + li:before {
            color: transparent;
            content: " ";
            padding: 0;
        }

.btn-address, .btn-setting {
    max-height: 50px;
    cursor: pointer;
}

.btn-address {
    padding: 15px;
    margin-right: 15px !important;
    background-color: #ffffff;
    position: relative;
}

    .btn-address:after {
        display: block;
        content: " ";
        border-color: transparent #ffffff;
        border-style: solid;
        border-width: 25px 0 25px 15px;
        position: absolute;
        top: 0;
        right: -15px;
    }

    .btn-address:before {
        display: block;
        content: " ";
        border-color: #ffffff transparent;
        border-style: solid;
        border-width: 25px 0 25px 15px;
        position: absolute;
        top: 0;
        left: -15px;
    }

    .btn-address.btn-setting {
        padding: 15px 8px;
    }

        .btn-address.btn-setting:after {
            border-left-color: #ed1651;
        }

        .btn-address.btn-setting:before {
            content: none;
        }

    .btn-address.active {
        background-color: #e9e9e9;
        margin-right: 0 !important;
    }

        .btn-address.active:before {
            border-color: #e9e9e9 transparent;
        }

        .btn-address.active:after {
            content: none;
            display: none;
        }

    .btn-address.btn-setting .menu-icon {
        margin-top: -14px;
        top: 10px;
    }

    .btn-address:hover:after {
        border-left-color: #1d1847;
    }

    .btn-address:hover:before {
        border-color: #1d1847 transparent;
    }


.btn-setting {
    padding: 15px;
    margin-right: 10px;
    background-color: #ed1651;
    display: inline-block;
}

    .btn-setting:hover,
    .btn-address:hover,
    .change-view .btn-setting,
    .dropdown.open .btn-setting,
    .collapse-menu .btn-setting,
    .collapse-menu .btn-setting.collapsed:hover {
        background-color: #1d1847;
    }

        .collapse-menu .btn-setting.collapsed {
            background-color: #ed1651;
        }

.setting-icon {
    display: inline-block;
    line-height: 50px;
    background-image: url("../images/SettingIcon.png");
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    height: 20px;
}

.setting-icon-show {
    width: 20px;
    background-position: 0 0;
}

.setting-icon-setting {
    width: 20px;
    background-position: -20px 0;
}

.setting-icon-card {
    width: 20px;
    background-position: -39px 0;
}

.setting-icon-title {
    width: 20px;
    background-position: -60px 0;
}

.dropdown-menu {
    background-clip: unset;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 9px 9px 12px;
    margin: 0;
    padding: 0;
}

    .dropdown-menu .divider {
        background-color: #a1a1a1;
        margin: 0;
    }

    .dropdown-menu > li > a {
        padding: 10px 20px;
        position: relative;
    }

    .dropdown-menu > li > input[type="checkbox"] {
        display: none;
        position: relative;
    }

    .dropdown-menu > li .btn {
        width: 100%;
    }

.check-interest {
    background-color: #ffffff;
    border: 8px solid #ffffff;
    border-radius: 50%;
    display: block;
    height: 36px;
    position: absolute;
    right: 5px;
    top: 2px;
    visibility: visible;
    width: 36px;
}

    .check-interest:before {
        border: 4px solid #999999;
        border-radius: 50%;
        content: "";
        display: block;
        height: 36px;
        left: -8px;
        position: absolute;
        top: -8px;
        visibility: visible;
        width: 36px;
    }

    .check-interest.checked {
        background-color: #ed1650;
    }

/*Sub-menu*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    /*.dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }*/

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
/*end sub-menu*/

.count-number {
    color: inherit;
    position: absolute;
    right: 10px;
}

.list-view,
.article-view,
.profile-view,
.manage-view,
.sponsor-view {
    position: relative;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 1370px;
    margin: 0 -15px;
    padding: 0 15px;
}

.view-item {
    display: block;
    position: relative;
    margin: 0 -15px 20px;
    min-height: 290px;
}

    .view-item img {
        display: inline-block;
        position: relative;
        left: 0;
    }

.more {
    font-style: italic;
    float: right;
    color: #3ac2cf;
    cursor: pointer;
}

.title,
.title a {
    color: #3ac2cf !important;
    text-transform: uppercase;
    text-decoration: none;
}

.interest-name {
    color: #ffffff;
    background-color: #1d1847;
    margin-top: 0;
}

.card-view {
}

    .card-view .view-item {
        min-height: 290px;
    }

    .card-view h2.title {
        display: none;
    }

.title-view {
}

    .title-view .view-item {
        min-height: 110px;
    }

    .title-view .more,
    .title-view cite,
    .title-view p {
        display: none;
    }

    .title-view .title {
        margin-top: 10px;
    }

    .title-view h1.title {
        display: none;
    }
/* end home */



/* article */
.article-view,
.next-previous {
    margin: 0 -15px;
    padding: 0 15px;
}

    .article-view .title {
        padding-right: 33.33%;
    }

    .article-view cite {
        color: #333333;
    }

.next-previous {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin: 20px 0 0;
}

    .next-previous .btn-setting:last-child {
        margin-left: -5px;
        margin-right: 0;
    }

    .next-previous .btn-setting .fa {
        color: #ffffff;
        position: relative;
        top: -4px;
    }

.article-tools {
    margin: 20px 0;
    background-color: #1d1847;
    width: 100%;
    min-height: 60px;
    padding: 8px 20px;
}

.btn-tool {
    height: 44px;
    margin: 0 20px;
    cursor: pointer;
}

    .btn-tool:first-child {
        margin-left: 0;
    }

.article-tools .btn-tool:first-child {
    margin-left: 0;
}

.like-tool {
    height: 44px;
    float: right;
}

    .like-tool .btn-tool {
        height: 44px;
        margin: 0;
    }

.like-number {
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: -13px;
}

.article-tools .btn-tool:hover .tool-icon,
.article-tools .btn-tool.selected .tool-icon,
.media .btn-tool.selected .tool-icon,
.view-item .btn-tool.selected .tool-icon {
    background-image: url("../images/ArticleTools_Selected.png");
}

.tool-icon {
    display: inline-block;
    background-image: url("../images/ArticleTools.png");
    background-repeat: no-repeat;
    position: relative;
    height: 44px;
}

.tool-icon-comment {
    width: 44px;
    background-position: 0 0;
}

.tool-icon-note {
    width: 44px;
    background-position: -44px 0;
}

.tool-icon-share {
    width: 44px;
    background-position: -88px 0;
}

.tool-icon-like {
    width: 44px;
    background-position: -132px 0;
}

.share-tools,
.notes-list,
.user-note,
.comments-list {
    width: 100%;
    min-height: 110px;
    display: none;
    margin: 20px 0;
}

.share-tools {
    background-color: #3ac2cf;
}

    .share-tools .btn-tool {
        display: inline-block;
        margin: 20px 1%;
        text-align: center;
        width: 18%;
    }

        .share-tools .btn-tool .fa {
            color: #ffffff;
        }

    .share-tools .share-social,
    .share-tools .share-default {
        text-align: center;
    }

        .share-tools .share-social .btn-tool {
            width: 17.4%;
        }

.write-text {
    margin: 10px -15px 25px;
    min-height: 110px;
}

    .write-text > div {
        min-height: 110px;
    }

    .write-text img,
    .media > a > img {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #fff;
        -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    }

    .write-text textarea {
        color: #bbbbbb;
        font-style: italic;
        font-weight: bold;
        padding-right: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        resize: none;
        background-color: #fff;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    }

    .write-text .fa {
        color: #bbbbbb;
        margin: 36px 20px;
        position: absolute;
        right: 15px;
        top: 0;
    }

.user-note {
    display: block;
    background-color: #f1f1f1;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    position: relative;
}

    .user-note .btn-close {
        width: 33px;
        height: 33px;
        background-color: #1d1747;
        position: relative;
        display: block;
        float: right;
        text-align: center;
    }

        .user-note .btn-close .fa {
            color: #ffffff;
        }

    .user-note > p {
        padding: 20px;
        height: 100%;
    }

        .user-note > p > span {
            display: block;
            text-transform: uppercase;
            font-size: 1.8em;
        }

.media-list {
    color: #666666;
}

    .media-list > .media {
        margin: 20px -15px;
    }

        .media-list > .media:after {
            border-bottom: 1px solid;
            bottom: 0;
            content: " ";
            display: flex;
            margin: 10px 15px 0;
        }

.media-body .media {
    margin: 20px -15px auto;
}

.media-body .like-tool {
    height: 34px;
    margin-top: -10px;
}

    .media-body .like-tool .like-number {
        color: #3ac2cf;
        font-weight: normal;
    }

    .media-body .like-tool .tool-icon {
        background-image: url("../images/ArticleTools_333.png");
    }

.media .pull-left,
.media .pull-right {
    margin-right: 0;
}

.comment-text {
    background-color: #ffffff;
    padding: 10px;
}

.reply-comment {
    font-style: italic;
    cursor: pointer;
}
/* end article */


/* profile*/
.profile-info,
.profile-func {
    margin: 0 -15px 20px;
    color: #999999;
}

    .profile-info .btn-tool {
        bottom: 0;
        cursor: pointer;
        display: block;
        min-height: 40px;
        padding: 0 15px;
        position: absolute;
        right: 0;
    }

.cover-photo {
    margin: 20px 0;
    width: 100%;
}

.cam-icon {
    display: inline-block;
    background-image: url("../images/cam_icon.png");
    background-repeat: no-repeat;
    position: relative;
    height: 30px;
}

.cam-icon-cam {
    width: 40px;
    background-position: 0 0;
}

.name-addr {
    top: 55%;
    position: relative;
}

.profile-name,
.profile-addr {
    margin-top: 0;
    vertical-align: bottom;
    text-align: left;
}

.profile-name,
.info-label,
.profile-func a {
    color: #3ac2cf;
    font-size: 1.8em;
}

.profile-name {
    text-transform: uppercase;
}

.info-value {
    float: right;
    color: #999999;
}

.profile-func {
    margin-top: 50px;
}

    .profile-func a {
        text-decoration: none;
    }

/* end profile */


/* manage */
.manage-view {
    color: #666666;
}

    .manage-view ul {
        padding-left: 0;
    }

        .manage-view ul li {
            border: 1px solid;
            border-color: transparent;
            border-top-color: #484848;
        }

    .manage-view > ul > li:last-child {
        border-bottom-color: #484848;
    }

    .manage-view ul li a {
        font-size: 1.8em;
        line-height: 3em;
        width: 100%;
        display: block;
        color: inherit;
        text-decoration: none;
    }

    .manage-view.list-view.card-view .title,
    .sponsor-view.list-view.card-view .title {
        display: block;
        margin-top: 0;
    }

    .manage-view.list-view.card-view .author,
    .sponsor-view.list-view.card-view .webaddr {
        position: relative;
        background-color: #1d1847;
        padding: 5px 10px;
        color: #ffffff;
        margin: 20px auto 10px;
    }

        .manage-view.list-view.card-view .author h3,
        .sponsor-view.list-view.card-view .webaddr h3 {
            margin: 0;
            display: inline;
        }

    .manage-view.list-view.card-view .like-tool {
        position: relative;
        display: inline;
        bottom: 10px;
    }

.level1,
level2 {
    position: relative;
}

    .level1 .open .level2 {
        display: block;
    }

.level2 {
    display: none;
}

/* end manage */



/* sponsor */
.sponsor-view {
}

    .sponsor-view .view-item img {
        background-color: #e9e9e9;
    }

.sponsor-more-info {
    background-color: #39c1cf;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    float: right !important;
}

    .sponsor-more-info > a {
        display: table !important;
        padding: 15px !important;
        color: #fff;
    }

        .sponsor-more-info > a > i {
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 0 0 10px;
            position: relative;
            top: 3px;
        }

.sponsor-detail {
    text-align: center;
}

    .sponsor-detail h2 {
        color: #3ac2cf;
    }

    .sponsor-detail img {
        display: inline;
    }

    .sponsor-detail .contact-info {
        line-height: 2em;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .sponsor-detail .contact-info i {
            color: #3ac2cf;
            left: -10px;
            margin-left: -8px;
            position: relative;
        }

/* end sponsor */


/*footer*/
.footer {
    height: 110px;
    background-color: #1d1847;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
}

    .footer ul {
        height: 100%;
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    .footer li {
        height: 100%;
        float: left;
    }

        .footer li a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: left;
            line-height: 110px; /*(2)*/
            font-size: 1.2em;
        }
/* end footer */
#zoom_img {
}

    #zoom_img .modal-content {
        border-radius: 0;
        box-shadow: none;
    }

    #zoom_img .modal-body {
        padding: 0;
        position: relative;
    }

    #zoom_img .zoom-close {
        position: absolute;
        left: 0;
    }

    #zoom_img .zoom-close,
    #zoom_img .zoom-in,
    #zoom_img .zoom-out {
        color: #ccc;
        opacity: 1;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
    }

    #zoom_img .zoom-btn {
        position: absolute;
        right: 0;
    }

    #zoom_img img {
        width: 100%;
    }

