﻿@model IEnumerable<BentoAdm.Models.ArticleView>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>All <strong>@ViewBag.countAllArticles</strong> Article(s)</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-files-o"></i>Articles</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <p>
                @Html.ActionLink("Create New", "NewArticle")
            </p>
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Interest</th>
                        <th>Title</th>
                        @*<th>Slug</th>*@
                        <th>Short Description</th>
                        @*<th>Body</th>*@
                        <th>Thumbnail</th>
                        <th>Author</th>
                        <th>Created By</th>
                        @*<th>Published By</th>*@
                        <th>Published Date</th>
                        <th>@*Is Published*@</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditArticle", new { id = item.ID })
                                <br />
                                @Html.ActionLink("Delete", "DeleteArticle", new { id = item.ID })
                                <br />
                                @Html.ActionLink("Publish", "PublishArticle", new { id = item.ID })
                            </td>
                            <td>
                                @{if (item.DateCreated != null)
                                  {
                                    @Html.Raw(DateTime.Parse(item.DateCreated.ToString()).ToString("MM-dd-yyyy"))
                                  }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>*@
                            <td>
                                @{if (item.ShortDescription != null && item.ShortDescription.Length > 100)
                                  { @Html.Raw(item.ShortDescription.Substring(0, 97) + "...") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.ShortDescription) }
                                }
                            </td>
                            @*<td>
                                @{if (item.Body != null && item.Body.Length > 100)
                                  { @Html.Raw(item.Body.Substring(0, 97) + "(...)") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.Body) }
                                }
                            </@*td>*@
                            <td>
                                @{if (item.Thumbnail != null)
                                  {
                                    <img src="@item.Thumbnail" alt="@item.Thumbnail" width="80" height="80" />
                                  }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.PublishedBy)
                            </td>*@
                            <td>
                                @{if (item.PublishedDate != null)
                                  {
                                    @Html.Raw(DateTime.Parse(item.PublishedDate.ToString()).ToString("MM-dd-yyyy"))
                                  }
                                }
                            </td>
                            <td class="text-center">
                                @{
                                  if (item.IsPublished == true)
                                  { <i class="fa fa-eye" style="color: green;"></i> }
                                  else
                                  { <i class="fa fa-eye-slash" style="color: red;"></i> }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(5)").addClass("active");
        });
    </script>
}