﻿@model BentoAdm.Models.Interest

@{
    ViewBag.Title = "Delete Interest";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>Name : <strong>@Model.Name</strong> ( @ViewBag.countArticle article(s) )</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Interest", "Admin")"><i class="fa fa-heart"></i>Interest</a></li>
            <li class="active"><i class="fa fa-times-circle"></i>Delete Interest</li>
        </ol>
        <div class="alert alert-dismissable alert-warning">
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-info">
            <strong>Name : </strong>@Html.DisplayFor(model => model.Name)
            <br />
            <strong>Description : </strong>@Html.DisplayFor(model => model.Description)
            <br />
            <strong>Thumbnail : </strong>
            @{if (Model.Thumbnail != null)
              {
                <img src="@Model.Thumbnail" alt="@Model.Thumbnail" width="80" height="80" />
              }
            }

        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Interest")
    </div>
</div>
<!-- /.row -->
