﻿@model BentoAdm.Models.Sponsor

@{
    ViewBag.Title = "Delete Sponsor";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>Title : <strong>@Model.Name</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Sponsors", "Admin")"><i class="fa fa-rocket"></i>Sponsors</a></li>
            <li class="active"><i class="fa fa-times-circle"></i>Delete Sponsor</li>
        </ol>
        <div class="alert alert-dismissable alert-warning">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-info">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <strong>Slug : </strong>@Html.DisplayFor(model => model.Slug)
            <br />
            <strong>Name : </strong>@Html.DisplayFor(model => model.Name)
            <br />
            <strong>Logo : </strong>
            @{if (Model.Logo != null)
              {
                <img src="@Model.Logo" alt="@Model.Logo" width="100" height="100" />
              }
            }
            <br />
            <strong>Watermark : </strong>
            @{if (Model.ImageWatermark != null)
              {
                <img src="@Model.ImageWatermark" alt="@Model.ImageWatermark" width="100" height="100" />
              }
            }
            <br />
            <strong>Web Address : </strong>@Html.DisplayFor(model => model.WebAddress)
            <br />
            <br />
            <strong>Short Description : </strong>@Html.DisplayFor(model => model.ShortDescription)
            <br />
            <strong>Address : </strong>@Html.DisplayFor(model => model.Address)
            <br />
            <strong>Phone : </strong>@Html.DisplayFor(model => model.Phone)
            <br />
            <strong>Fax : </strong>@Html.DisplayFor(model => model.Fax)
            <br />
            <strong>Body Content : </strong>
            <br />
            @Html.Raw(Model.BodyContent)

        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Sponsors")
    </div>
</div>
<!-- /.row -->
