﻿@model BentoAdm.Models.Profile

@{
    ViewBag.Title = "Delete User Profile";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>Username : <strong>@Model.Username</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("UserProfiles", "Admin")"><i class="fa fa-users"></i>User Profiles</a></li>
            <li class="active"><i class="fa fa-times-circle"></i>Delete User Profile</li>
        </ol>
        <div class="alert alert-dismissable alert-warning">
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-info">
            <strong>Username : </strong>@Html.DisplayFor(model => model.Username)
            <br />
            <strong>Fullname : </strong>@Html.DisplayFor(model => model.Fullname)
            <br />
            <strong>Email : </strong>@Html.DisplayFor(model => model.Email)
            <br />
            <strong>Address : </strong>@Html.DisplayFor(model => model.Address)
            <br />
            <strong>Account Type : </strong>
            @{if (Model.AccountType == "Facebook")
              {
                <a href = "https://www.facebook.com/@Model.AccountID">@Model.AccountType</a>
              }
              else
                  if (Model.AccountType == "Google+")
                  {
                <a href = "https://plus.google.com/u/0/@Model.AccountID">@Model.AccountType</a>
                  }
                  else
                  { @Html.DisplayFor(modelItem => Model.AccountType) }
            }
            <br />
            <strong>Birthday : </strong>
            @{if (Model.BirthDay != null)
              {
                @Html.Raw(DateTime.Parse(Model.BirthDay.ToString()).ToString("MM-dd-yyyy"))
              }
            }
            <br />
            <strong>Avatar : </strong>
            @{if (Model.Avatar != null)
              {
                <img src="@Model.Avatar" alt="@Model.Avatar" width="80" height="80" />
              }
            }
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "UserProfiles")
    </div>
</div>
<!-- /.row -->
