﻿@model BentoAdm.Models.Subscribe

@{
    ViewBag.Title = "Delete Subscribe";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Subscribe", "Admin")"><i class="fa fa-rss-square"></i>Subscribe</a></li>
            <li class="active"><i class="fa fa-times-circle"></i>Delete Subscribe</li>
        </ol>
        <div class="alert alert-dismissable alert-warning">
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-info">
            Email : @Html.DisplayFor(model => model.Email)
            <br />
            Is Subscribe : @{
                if (Model.IsSubscribe == true)
                { @Html.Raw("Allow") }
                else
                { @Html.Raw("Disallow") }
            }

        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Subscribe")
    </div>
</div>
<!-- /.row -->
