﻿@model BentoAdm.Models.Article

@{
    ViewBag.Title = "Delete Article";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>Title : <strong>@Model.Title</strong></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Articles", "Admin")"><i class="fa fa-files-o"></i>Articles</a></li>
            <li class="active"><i class="fa fa-times-circle"></i>Delete Article</li>
        </ol>
        <div class="alert alert-dismissable alert-warning">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissable alert-info">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <strong>Title : </strong>@Html.DisplayFor(model => model.Title)
            <br />
            <strong>Short Description : </strong>@Html.DisplayFor(model => model.ShortDescription)
            <br />
            <strong>Body : </strong>
            <br />
            @Html.Raw(Model.Body)
            <br />
            <strong>Author : </strong>@Html.DisplayFor(model => model.Author)
            <br />
            <strong>Create by : </strong>@Html.DisplayFor(model => model.CreatedBy)
            <br />
            <strong>Thumbnail : </strong>
            @{if (Model.Thumbnail != null)
              {
                <img src="@Model.Thumbnail" alt="@Model.Thumbnail" width="100" height="100" />
              }
            }

        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Articles")
    </div>
</div>
<!-- /.row -->
