﻿@model BentoAdm.Models.Subscribe

@{
    ViewBag.Title = "Edit Subscribe";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>From @{if (Model.Email != null)
                                    {@Model.Email}}</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Subscribe", "Admin")"><i class="fa fa-rss-square"></i>Subscribe</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>Edit Subscribe</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Email">Email</label>
                </div>
                <div class="col-lg-10">
                    <input id="Email" class="form-control" type="email" value="@Model.Email" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="IsSubscribe">Is Subscribe</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.IsSubscribe, ViewData["IsSubscribe"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsSubscribe)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="IP">IP</label>
                </div>
                <div class="col-lg-10">
                    <input id="IP" class="form-control" type="text" value="@Model.IP" name="IP" placeholder="Enter IP">
                    @Html.ValidationMessageFor(model => model.IP)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Subscribe")
    </div>
</div>
<!-- /.row -->
