﻿@model BentoAdm.Models.Profile

@{
    ViewBag.Title = "Edit User Profile";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>@{if (Model.Username != null)
                                    {@Model.Username}}</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("UserProfiles", "Admin")"><i class="fa fa-users"></i>User Profiles</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>Edit User Profile</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("EditUserProfile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Username">Username</label>
                </div>
                <div class="col-lg-10">
                    <input id="Username" class="form-control" type="text" value="@Model.Username" name="Username" placeholder="Enter Username" disabled="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Email">Email</label>
                </div>
                <div class="col-lg-10">
                    <input id="Email" class="form-control" type="email" value="@Model.Email" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Password">Password</label>
                </div>
                <div class="col-lg-10">
                    <input id="Password" class="form-control" type="password" value="@Model.Password" name="Password" placeholder="Enter Password">
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="AccountType">Account Type</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.AccountType, ViewData["AccountTypeItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccountType)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="AccountID">Account ID</label>
                </div>
                <div class="col-lg-10">
                    <input id="AccountID" class="form-control" type="text" value="@Model.AccountID" name="AccountID" placeholder="Enter Account ID">
                    @Html.ValidationMessageFor(model => model.AccountID)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Fullname">Fullname</label>
                </div>
                <div class="col-lg-10">
                    <input id="Fullname" class="form-control" type="text" value="@Model.Fullname" name="Fullname" placeholder="Enter Fullname">
                    @Html.ValidationMessageFor(model => model.Fullname)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Address">Address</label>
                </div>
                <div class="col-lg-10">
                    <input id="Address" class="form-control" type="text" value="@Model.Address" name="Address" placeholder="Enter Address">
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Gender">Gender</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Gender, ViewData["GenderItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Avatar">Avatar</label>
                </div>
                <div class="col-lg-10">
                    @{if (Model.Avatar != null)
                      {
                        <img src="@Model.Avatar" alt="@Model.Avatar" width="100" height="100" />
                      }
                    }
                    <input id="Avatar" type="file" value="" name="Avatar">
                    @Html.ValidationMessageFor(model => model.Avatar)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Caption">Caption</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Caption" class="form-control" rows="3" name="Caption" cols="20" placeholder="Enter Caption">@Model.Caption</textarea>
                    @Html.ValidationMessageFor(model => model.Caption)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="BirthDay">BirthDay</label>
                </div>
                <div class="col-lg-10">
                    <input id="BirthDay" class="form-control" type="datetime" value="
                        @{if (Model.BirthDay != null)
                          { @Html.Raw(DateTime.Parse(Model.BirthDay.ToString()).ToString("MM/dd/yyyy")) }}"
                        name="BirthDay" placeholder="Enter BirthDay (MM/dd/YYYY)">
                    @Html.ValidationMessageFor(model => model.BirthDay)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="IP">IP</label>
                </div>
                <div class="col-lg-10">
                    <input id="IP" class="form-control" type="text" value="@Model.IP" name="IP" placeholder="Enter IP" disabled="">
                    @Html.ValidationMessageFor(model => model.IP)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Banned">Banned</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Banned, ViewData["Banned"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Banned)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "UserProfiles")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <link href="~/css/datepicker.css" rel="stylesheet">
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#BirthDay").datepicker({ format: 'MM/dd/yyyy', startView: 'decade', });
        });
    </script>
}