﻿@model BentoAdm.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Comments", "Admin")"><i class="fa fa-comments"></i>Comments</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>Edit Comment</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Message">Message</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Message" class="form-control" rows="3" name="Message" cols="20" placeholder="Enter Message">@Model.Message</textarea>
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="IP">IP</label>
                </div>
                <div class="col-lg-10">
                    <input id="IP" class="form-control" type="text" value="@Model.IP" name="IP" placeholder="Enter IP">
                    @Html.ValidationMessageFor(model => model.IP)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Comments")
    </div>
</div>
<!-- /.row -->
