﻿@model BentoAdm.Models.Category

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>@{if (Model.Name != null) {@Model.Name}}</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Category", "Admin")"><i class="fa fa-list-alt"></i>Category</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>Edit Category</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Slug">Slug</label>
                </div>
                <div class="col-lg-10">
                    <input id="Slug" class="form-control" type="text" value="@Model.Slug" name="Slug" placeholder="Enter Slug">
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Name">Name</label>
                </div>
                <div class="col-lg-10">
                    <input id="Name" class="form-control" type="text" value="@Model.Name" name="Name" placeholder="Enter Name">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Description">Description</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Description" class="form-control" rows="3" name="Description" cols="20" placeholder="Enter Description">@Model.Description</textarea>
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Status">Status</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Status, ViewData["StatusItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Category")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Name').change(function () {
                var slug = string_to_slug($(this).val());
                $('#Slug').val(slug);
            });

        });
    </script>
}