﻿@model Tuple<List<BentoAdm.Models.Profile>, List<BentoAdm.Models.Profile>, List<BentoAdm.Models.Article>>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small>Statistics Overview</small></h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i>Dashboard</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Records</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i class="fa fa-users"></i><a href="@Url.Action("UserProfiles", "Admin")">Total number of User profile :</a> @ViewBag.TotalProfile</li>
                    <ul>
                        <li><i class="fa fa-angle-right"></i>
                            Is Signing in : @ViewBag.TotalSigningIn</li>
                        <li><i class="fa fa-angle-right"></i>
                            Is Banned : @ViewBag.TotalBanned</li>
                    </ul>

                    <li><i class="fa fa-files-o"></i><a href="@Url.Action("Articles", "Admin")">Total number of Article :</a> @ViewBag.TotalArticle</li>
                    <ul>
                        <li><i class="fa fa-angle-right"></i>
                            Is Published : @ViewBag.TotalArticlePublished</li>
                        <li><i class="fa fa-angle-right"></i>
                            Is Unpublished : @ViewBag.TotalArticleUnPublished</li>
                    </ul>

                    <li><i class="fa fa-comments"></i><a href="@Url.Action("Comments", "Admin")">Total number of Comment :</a> @ViewBag.TotalComment</li>
                    <li><i class="fa fa-thumb-tack"></i><a href="@Url.Action("Notes", "Admin")">Total number of Note :</a> @ViewBag.TotalNote</li>
                    <li><i class="fa fa-thumbs-up"></i>
                        Total number of Like : @ViewBag.TotalLike</li>
                    <li><i class="fa fa-share"></i>
                        Total number of Share : @ViewBag.TotalShare</li>
                    <li><i class="fa fa-star"></i>
                        Total number of Rating : @ViewBag.TotalRating</li>

                    <li><i class="fa fa-envelope"></i><a href="@Url.Action("Messages", "Admin")">Total number of Message contact :</a> @ViewBag.TotalMessage</li>
                    <li><i class="fa fa-rss-square"></i><a href="@Url.Action("Subscribe", "Admin")">Total number of Subscribe :</a> @ViewBag.TotalSubscribe</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Last Signing in</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    @{ foreach (var user in Model.Item1)
                       {
                        <li>
                            @{if (user.Gender == 1)
                              { <i class="fa fa-male"></i>}
                              else
                                  if (user.Gender == 2)
                                  { <i class="fa fa-female"></i>}
                            }
                            <a href="@Url.Action("EditUserProfile", "Admin", new { id = user.ID })">
                                @Html.Raw(user.Username)</a>
                            @{if (user.LastSignedIn != null)
                              {
                                  DateTime sub = DateTime.Parse(user.LastSignedIn.ToString());
                                  TimeSpan span = DateTime.Now.Subtract(sub);
                                @Html.Raw(" ( " + Math.Round(span.TotalHours, 0) + " hour(s) )")
                              }
                            }
                        </li>
                       }
                    }
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Banned list</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    @{ foreach (var user in Model.Item2)
                       {
                        <li>
                            @{if (user.Gender == 1)
                              { <i class="fa fa-male"></i>}
                              else
                                  if (user.Gender == 2)
                                  { <i class="fa fa-female"></i>}
                            }
                            <a href="@Url.Action("EditUserProfile", "Admin", new { id = user.ID })">
                                @Html.Raw(user.Username)</a>
                            @{if (user.LastSignedIn != null)
                              {
                                  DateTime sub = DateTime.Parse(user.LastSignedIn.ToString());
                                  TimeSpan span = DateTime.Now.Subtract(sub);
                                @Html.Raw(" ( " + Math.Round(span.TotalHours, 0) + " hour(s) )")
                              }
                            }
                        </li>
                       }
                    }
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">New Articles</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    @{ foreach (var article in Model.Item3)
                       {
                        <li><a href="@Url.Action("EditArticle", "Admin", new { id = article.ID })"><i class="fa fa-file-o"></i></a>
                            @{ string show = string.Empty;
                               if (article.Title != null)
                               {
                                   show = article.Title;
                               }
                               else
                               {
                                   show = article.ShortDescription;
                               }
                               if (show != null && show.Length > 70)
                               { @Html.Raw(show.Substring(0, 67) + "...") }
                               else
                               { @Html.DisplayFor(modelItem => show) }
                            } <small>( @Html.Raw(article.DateCreated) )</small></li>
                       }
                    }
                </ul>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(1)").addClass("active");
        });
    </script>
}