﻿@model IEnumerable<BentoAdm.Models.InterestView>

@{
    ViewBag.Title = "Interest";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-heart"></i>Interest</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <p>
                @Html.ActionLink("Create New", "NewInterest")
            </p>
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        @*<th>Date Created</th>*@
                        <th>Name</th>
                        <th>Description</th>
                        <th>Thumbnail</th>
                        <th>Status</th>
                        @*<th>Slug</th>*@
                        <th>Parent</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditInterest", new { id = item.ID })
                                <br />
                                @Html.ActionLink("Delete", "DeleteInterest", new { id = item.ID })
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @{if (item.Description != null && item.Description.Length > 200)
                                  { @Html.Raw(item.Description.Substring(0, 190) + "(...)") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.Description) }
                                }
                            </td>
                            <td>
                                @{if (item.Thumbnail != null)
                                  {
                                    <img src="@item.Thumbnail" alt="@item.Thumbnail" width="80" height="80" />
                                  }
                                }
                            </td>
                            <td>
                                @{
                                  switch (item.Status)
                                  {
                                      case 1: @Html.Raw("Status 1")
                                          break;
                                      case 2: @Html.Raw("Status 2")
                                          break;
                                      case 3: @Html.Raw("Status 3")
                                          break;
                                      case 4: @Html.Raw("Status 4")
                                          break;
                                      case 5: @Html.Raw("Status 5")
                                          break;
                                  }
                                }
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(4)").addClass("active");
        });
    </script>
}