﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Log In";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - BENTO Admin</title>

    @Styles.Render("~/bundles/css")
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @*<div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>*@
                            <div class="form-group">
                                <input id="Password" class="form-control" placeholder="Password" name="Password" type="password" value="">
                            </div>
                            @*<div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>*@

                            <input type="submit" value="Login" class="btn btn-lg btn-success btn-block" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    @Scripts.Render("~/bundles/script")
</body>
</html>
