﻿@model IEnumerable<BentoAdm.Models.Contact>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-envelope"></i>Messages</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        @*<th>Date Created</th>*@
                        <th>Subject</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Message</th>
                        @*<th>IP</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditMessage", new { id = item.ID })
                                <br />
                                @*@Html.ActionLink("Delete", "DeleteMessage", new { id = item.ID })*@
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>*@
                            <td>
                                @{if (item.Subject != null && item.Subject.Length > 20)
                                  { @Html.Raw(item.Subject.Substring(0, 20) + "...") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.Subject) }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @{if (item.Message != null && item.Message.Length > 200)
                                  { @Html.Raw(item.Message.Substring(0, 190) + "(...)") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.Message) }
                                }
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IP)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(8)").addClass("active");
        });
    </script>
}
