﻿@model BentoAdm.Models.Article

@{
    ViewBag.Title = "New Article";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Articles", "Admin")"><i class="fa fa-files-o"></i>Articles</a></li>
            <li class="active"><i class="fa fa-plus-circle"></i>New Article</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("NewArticle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label>Interest</label>
                </div>
                <div class="col-lg-10">
                    @{Guid? oldparent = Guid.Empty; var enline = 0;
                      foreach (var o in (List<BentoAdm.Models.InterestList>)ViewData["Categories"])
                      {
                          enline = (enline + 1) % 3;
                          if (o.ParentID != oldparent)
                          {
                        <div class="clear"></div>
                        <div class="col-lg-12">
                            <strong>@Html.Raw(o.ParentName)</strong>
                        </div>
                        <div class="clear"></div>
                              oldparent = o.ParentID;
                        <div class="col-lg-4">
                            <input type="checkbox" value="@o.CategoryID" name="categories" />
                            @Html.Raw(o.CategoryName)
                        </div>
                              enline = 1;
                          }
                          else
                          {
                        <div class="col-lg-4">
                            <input type="checkbox" value="@o.CategoryID" name="categories" />
                            @Html.Raw(o.CategoryName)
                        </div>
                          }
                          if (enline == 0)
                          {
                        <div class="clear"></div>
                          }
                      }
                    }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Slug">Slug</label>
                </div>
                <div class="col-lg-10">
                    <input id="Slug" class="form-control" type="text" value="" name="Slug" placeholder="Enter Slug">
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Title">Title</label>
                </div>
                <div class="col-lg-10">
                    <input id="Title" class="form-control" type="text" value="" name="Title" placeholder="Enter Title">
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="ShortDescription">ShortDescription</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="ShortDescription" class="form-control" rows="3" name="ShortDescription" cols="20" placeholder="Enter Short Description"></textarea>
                    @Html.ValidationMessageFor(model => model.ShortDescription)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Body">Body</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Body" class="form-control" rows="3" name="Body" cols="20" placeholder="Enter Body"></textarea>
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Thumbnail">Thumbnail</label>
                </div>
                <div class="col-lg-10">
                    <input id="Thumbnail" type="file" value="" name="Thumbnail">
                    @Html.ValidationMessageFor(model => model.Thumbnail)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="SponsorWatermark">Sponsor Watermark</label>
                </div>
                <div class="col-lg-10">
                    @{foreach (var o in (List<SelectListItem>)ViewData["SponsorWatermark"])
                      {
                        <div class="col-lg-4">
                            <input type="radio" value="@o.Value" name="SponsorWatermark" />
                            @Html.Raw(o.Text)
                            @*<img src="@o.Text" alt="@o.Text" width="100" height="100" />*@
                        </div>
                      }
                    }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Author">Author</label>
                </div>
                <div class="col-lg-10">
                    <input id="Author" class="form-control" type="text" value="" name="Author" placeholder="Enter Author">
                    @Html.ValidationMessageFor(model => model.Author)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="CreatedBy">Created By</label>
                </div>
                <div class="col-lg-10">
                    <input id="CreatedBy" class="form-control" type="text" value="" name="CreatedBy" placeholder="Enter Created By">
                    @Html.ValidationMessageFor(model => model.CreatedBy)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="PublishedDate">Published Date</label>
                </div>
                <div class="col-lg-10">
                    <input id="PublishedDate" class="form-control" type="datetime" value="" name="PublishedDate" placeholder="Enter Published Date">
                    @Html.ValidationMessageFor(model => model.PublishedDate)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="PublishedBy">Published By</label>
                </div>
                <div class="col-lg-10">
                    <input id="PublishedBy" class="form-control" type="text" value="" name="PublishedBy" placeholder="Enter Published By">
                    @Html.ValidationMessageFor(model => model.PublishedBy)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="IsPublished">Is Published</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.IsPublished, ViewData["IsPublishedItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsPublished)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Articles")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="~/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(2)").addClass("open");
            $("ul.side-nav li:nth-child(2) ul li:nth-child(3)").addClass("active");
            $("#PublishedDate").datetimepicker({
                format: "dd MM yyyy - hh:ii P",
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
            CKEDITOR.dtd.$removeEmpty['span'] = false;
            var editor = CKEDITOR.replace('Body');
            CKFinder.setupCKEditor(editor, '@Url.Content("~/ckfinder/")');

            $('#Title').change(function () {
                var slug = string_to_slug($(this).val());
                $('#Slug').val(slug);
            });

        });
    </script>
}