﻿@model BentoAdm.Models.Interest

@{
    ViewBag.Title = "New Interest";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Interest", "Admin")"><i class="fa fa-heart"></i>Interest</a></li>
            <li class="active"><i class="fa fa-plus-circle"></i>New Interest</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("NewInterest", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label>Parent ID</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(m => m.ParentId, (IEnumerable<SelectListItem>)ViewBag.Interests, new { @class = "form-control" })
                </div>
            </div>

            @*<div class="form-group row">
                <div class="col-lg-2">
                    <label>Parent ID</label>
                </div>
                <div class="col-lg-10">
                    @{Guid? oldparent = Guid.Empty; var enline = 0;
                      foreach (var o in (List<BentoAdm.Models.InterestList>)ViewData["Interests"])
                      {
                          enline = (enline + 1) % 3;
                          if (o.ParentID != oldparent)
                          {
                        <div class="clear"></div>
                        <div class="col-lg-12">
                            <strong>@Html.Raw(o.ParentName)</strong>
                        </div>
                        <div class="clear"></div>
                              oldparent = o.ParentID;
                        <div class="col-lg-4">
                            <input type="radio" value="@o.CategoryID" name="parentid" />
                            @Html.Raw(o.CategoryName)
                        </div>
                              enline = 1;
                          }
                          else
                          {
                        <div class="col-lg-4">
                            <input type="radio" value="@o.CategoryID" name="parentid" />
                            @Html.Raw(o.CategoryName)
                        </div>
                          }
                          if (enline == 0)
                          {
                        <div class="clear"></div>
                          }
                      }
                    }
                </div>
            </div>*@

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Slug">Slug</label>
                </div>
                <div class="col-lg-10">
                    <input id="Slug" class="form-control" type="text" value="" name="Slug" placeholder="Enter Slug">
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Name">Name</label>
                </div>
                <div class="col-lg-10">
                    <input id="Name" class="form-control" type="text" value="" name="Name" placeholder="Enter Name">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Description">Description</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Description" class="form-control" rows="3" name="Description" cols="20" placeholder="Enter Description"></textarea>
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Thumbnail">Thumbnail</label>
                </div>
                <div class="col-lg-10">
                    <input id="Thumbnail" type="file" value="" name="Thumbnail">
                    @Html.ValidationMessageFor(model => model.Thumbnail)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Status">Status</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Status, ViewData["StatusItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Interest")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(2)").addClass("open");
            $("ul.side-nav li:nth-child(2) ul li:nth-child(2)").addClass("active");

            $('#Name').change(function () {
                var slug = string_to_slug($(this).val());
                $('#Slug').val(slug);
            });

        });
    </script>
}