﻿@model BentoAdm.Models.Sponsor

@{
    ViewBag.Title = "New Sponsor";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("Sponsors", "Admin")"><i class="fa fa-rocket"></i>Sponsors</a></li>
            <li class="active"><i class="fa fa-plus-circle"></i>New Sponsor</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("NewSponsor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Slug">Slug</label>
                </div>
                <div class="col-lg-10">
                    <input id="Slug" class="form-control" type="text" value="" name="Slug" placeholder="Enter Slug">
                    @Html.ValidationMessageFor(model => model.Slug)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Name">Name</label>
                </div>
                <div class="col-lg-10">
                    <input id="Name" class="form-control" type="text" value="" name="Name" placeholder="Enter Name">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="ShortDescription">ShortDescription</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="ShortDescription" class="form-control" rows="3" name="ShortDescription" cols="20" placeholder="Enter Short Description"></textarea>
                    @Html.ValidationMessageFor(model => model.ShortDescription)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Logo">Logo</label>
                </div>
                <div class="col-lg-10">
                    <input id="Logo" type="file" value="" name="Logo">
                    @Html.ValidationMessageFor(model => model.Logo)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="ImageWatermark">Image Watermark</label>
                </div>
                <div class="col-lg-10">
                    <input id="ImageWatermark" type="file" value="" name="ImageWatermark">
                    @Html.ValidationMessageFor(model => model.ImageWatermark)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="WebAddress">Web Address</label>
                </div>
                <div class="col-lg-10">
                    <input id="WebAddress" class="form-control" type="text" value="" name="WebAddress" placeholder="Enter Web Address">
                    @Html.ValidationMessageFor(model => model.WebAddress)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Address">Address</label>
                </div>
                <div class="col-lg-10">
                    <input id="Address" class="form-control" type="text" value="" name="Address" placeholder="Enter Address">
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Email">Email</label>
                </div>
                <div class="col-lg-10">
                    <input id="Email" class="form-control" type="email" value="" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Phone">Phone</label>
                </div>
                <div class="col-lg-10">
                    <input id="Phone" class="form-control" type="tel" value="" name="Phone" placeholder="Enter Phone">
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Fax">Fax</label>
                </div>
                <div class="col-lg-10">
                    <input id="Fax" class="form-control" type="text" value="" name="Fax" placeholder="Enter Fax">
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="BodyContent">BodyContent</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="BodyContent" class="form-control" rows="3" name="BodyContent" cols="20" placeholder="Enter BodyContent"></textarea>
                    @Html.ValidationMessageFor(model => model.BodyContent)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "Sponsors")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <link href="~/css/datepicker.css" rel="stylesheet">
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(2)").addClass("open");
            $("ul.side-nav li:nth-child(2) ul li:nth-child(4)").addClass("active");
            CKEDITOR.dtd.$removeEmpty['span'] = false;
            var editor = CKEDITOR.replace('BodyContent');
            CKFinder.setupCKEditor(editor, '@Url.Content("~/ckfinder/")');

            $('#Name').change(function () {
                var slug = string_to_slug($(this).val());
                $('#Slug').val(slug);
            });

        });
    </script>
}