﻿@model BentoAdm.Models.Profile

@{
    ViewBag.Title = "New User Profile";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="@Url.Action("UserProfiles", "Admin")"><i class="fa fa-users"></i>User Profiles</a></li>
            <li class="active"><i class="fa fa-plus-circle"></i>New User Profile</li>
        </ol>
        @{
            if (ViewData["EditError"] != null)
            {
            <div class="alert alert-dismissable alert-warning">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewData["EditError"]
            </div>
            }
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("NewUserProfile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @*<div class="form-group row">
                <div class="col-lg-2">
                    <label for="Username">Username</label>
                </div>
                <div class="col-lg-10">
                    <input id="Username" class="form-control" type="text" value="" name="Username" placeholder="Enter Username">
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>*@

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Email">Email</label>
                </div>
                <div class="col-lg-10">
                    <input id="Email" class="form-control" type="email" value="" name="Email" placeholder="Enter Email">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Password">Password</label>
                </div>
                <div class="col-lg-10">
                    <input id="Password" class="form-control" type="password" value="" name="Password" placeholder="Enter Password">
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="AccountType">Account Type</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.AccountType, ViewData["AccountTypeItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccountType)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="AccountID">Account ID</label>
                </div>
                <div class="col-lg-10">
                    <input id="AccountID" class="form-control" type="text" value="" name="AccountID" placeholder="Enter Account ID">
                    @Html.ValidationMessageFor(model => model.AccountID)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Fullname">Fullname</label>
                </div>
                <div class="col-lg-10">
                    <input id="Fullname" class="form-control" type="text" value="" name="Fullname" placeholder="Enter Fullname">
                    @Html.ValidationMessageFor(model => model.Fullname)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Address">Address</label>
                </div>
                <div class="col-lg-10">
                    <input id="Address" class="form-control" type="text" value="" name="Address" placeholder="Enter Address">
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Gender">Gender</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Gender, ViewData["GenderItems"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Avatar">Avatar</label>
                </div>
                <div class="col-lg-10">
                    <input id="Avatar" type="file" value="" name="Avatar">
                    @Html.ValidationMessageFor(model => model.Avatar)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Caption">Caption</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="Caption" class="form-control" rows="3" name="Caption" cols="20" placeholder="Enter Caption"></textarea>
                    @Html.ValidationMessageFor(model => model.Caption)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="BirthDay">BirthDay</label>
                </div>
                <div class="col-lg-10">
                    <input id="BirthDay" class="form-control" type="datetime" value="" name="BirthDay" placeholder="Enter BirthDay">
                    @Html.ValidationMessageFor(model => model.BirthDay)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="Banned">Banned</label>
                </div>
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Banned, ViewData["Banned"] as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Banned)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <p>
                        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Back to List", "UserProfiles")
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <link href="~/css/datepicker.css" rel="stylesheet">
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(2)").addClass("open");
            $("ul.side-nav li:nth-child(2) ul li:nth-child(1)").addClass("active");
            $("#BirthDay").datepicker({ format: 'MM/dd/yyyy', startView: 'decade', });
        });
    </script>
}