﻿@model IEnumerable<BentoAdm.Models.Sponsor>

@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-rocket"></i>Sponsors</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <p>
                @Html.ActionLink("Create New", "NewSponsor")
            </p>
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Short Description</th>
                        <th>Web Address</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Watermark</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditSponsor", new { id = item.ID })
                                <br />
                                @Html.ActionLink("Delete", "DeleteSponsor", new { id = item.ID })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @{if (item.ShortDescription != null && item.ShortDescription.Length > 200)
                                  { @Html.Raw(item.ShortDescription.Substring(0, 197) + "...") }
                                  else
                                  { @Html.DisplayFor(modelItem => item.ShortDescription) }
                                }
                            </td>
                            <td>
                                @{if (item.Logo != null)
                                  {
                                      var alt = (item.Name != null ? item.Name : string.Empty);
                                    <a href="@{if (item.WebAddress != null)
                                               {
                                                   alt = item.WebAddress;
                                                   @Html.Raw(alt);
                                               }
                                               else
                                               { @Html.Raw("#");
                                               }
                                                 }">
                                        <img src="@item.Logo" alt="@alt" width="80" height="80" /></a>
                                  }
                                }
                            </td>
                            <td>
                                <i class="fa fa-map-marker"></i>@Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <i class="fa fa-envelope"></i>@Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <i class="fa fa-phone"></i>@Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                <i class="fa fa-print"></i>@Html.DisplayFor(modelItem => item.Fax)
                            </td>
                            <td>
                                @{if (item.ImageWatermark != null)
                                  {
                                      var alt = (item.Name != null ? item.Name : string.Empty);
                                    <img src="@item.ImageWatermark" alt="@alt" width="80" height="80" />
                                  }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(10)").addClass("active");
        });
    </script>
}