﻿@model IEnumerable<BentoAdm.Models.Subscribe>

@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-rss-square"></i>Subscribe</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Email</th>
                        <th>Is Subscribe</th>
                        @*<th>IP</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditSubscribe", new { id = item.ID })
                                <br />
                                @*@Html.ActionLink("Delete", "DeleteSubscribe", new { id = item.ID })*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @{
                                    if (item.IsSubscribe == true)
                                    { @Html.Raw("Allow") }
                                    else
                                    { @Html.Raw("Disallow") }
                                }
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IP)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(9)").addClass("active");
        });
    </script>
}

