﻿@model IEnumerable<BentoAdm.Models.Profile>

@{
    ViewBag.Title = "User Profiles";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="fa fa-users"></i>User Profiles</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <p>
                @Html.ActionLink("Create New", "NewUserProfile")
            </p>
            <table class="table table-bordered table-hover table-striped tablesorter" id="data_table">
                <thead>
                    <tr>
                        <th></th>
                        @*<th>Date Created</th>*@
                        <th>Username /Email</th>
                        <th>Avatar</th>
                        <th>Account Link</th>
                        <th>Fullname</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>BirthDay</th>
                        @*<th>IP</th>*@
                        <th>Banned</th>
                        <th>Last Signed In</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "EditUserProfile", new { id = item.ID })
                                <br />
                                @Html.ActionLink("Delete", "DeleteUserProfile", new { id = item.ID })
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>*@
                            <td>
                                @{if (item.Username != null && item.Email != null && item.Username != item.Email)
                                  {
                                    @Html.DisplayFor(modelItem => item.Username)
                                  }
                                  else
                                  {@Html.DisplayFor(modelItem => item.Email)}
                                }
                            </td>
                            <td>
                                @{if (item.Avatar != null)
                                  {
                                    <img src="@item.Avatar" alt="@item.Avatar" width="80" height="80" />
                                  }
                                }
                            </td>
                            <td>
                                @{if (item.AccountType == "Facebook")
                                  {
                                    <a href = "https://www.facebook.com/@item.AccountID"><i class="fa fa-facebook-square fa-5x"></i></a>
                                  }
                                  else
                                      if (item.AccountType == "Google+")
                                      {
                                    <a href = "https://plus.google.com/u/0/@item.AccountID"><i class="fa fa-google-plus-square fa-5x"></i></a>
                                      }
                                      else
                                      { @Html.DisplayFor(modelItem => item.AccountType) }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @{
                                  if (item.Gender == 1)
                                  { <i class="fa fa-male"></i>@Html.Raw("Male") }
                                  else
                                      if (item.Gender == 2)
                                      { <i class="fa fa-female"></i>@Html.Raw("Female") }
                                      else
                                      { @Html.Raw("N/A") }
                                }
                            </td>
                            <td>
                                @{if (item.BirthDay != null)
                                  {
                                    @Html.Raw(DateTime.Parse(item.BirthDay.ToString()).ToString("MM-dd-yyyy"))
                                  }
                                }
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IP)
                            </td>*@
                            <td>
                                @{
                                  if (item.Banned == true)
                                  { @Html.Raw("Banned") }
                                }
                            </td>
                            <td>
                                @{if (item.LastSignedIn != null)
                                  {
                                      DateTime sub = DateTime.Parse(item.LastSignedIn.ToString());
                                      TimeSpan span = DateTime.Now.Subtract(sub);
                                    @Html.Raw(Math.Round(span.TotalHours, 0) + " hour(s)")
                                  }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.side-nav > li:nth-child(3)").addClass("active");
        });
    </script>
}