﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-clientid" content="402410395378-vhkjohj3lnnr8ks7b5u1g7i5ij4gncdi.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta property="og:site_name" content="Bento" />

    <title>BENTO Website - @ViewBag.Title</title>

    @Styles.Render("~/bundles/css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="@Url.RouteUrl("Article", new { manageSlug = "", articleSlug = "" })" class="logo hidden-xs" id="Logo_Bento">
                <img src="@Url.Content("~/images/logo.png")" alt="Logo" />
            </a>
            <ul class="navbar-menu">
                <li><a href="@Url.RouteUrl("Sponsor", new { slug = "" })">
                    <i class="menu-icon menu-icon-sponsor"></i></a></li>
                <li><a href="@Url.RouteUrl("Profile")">
                    <i class="menu-icon menu-icon-profile"></i></a></li>
                <li><a href="@Url.RouteUrl("Manage", new { manageSlug = "", articleSlug = "" })">
                    <i class="menu-icon menu-icon-manage"></i></a></li>
                <li><a href="@Url.RouteUrl("Article", new { manageSlug = "", articleSlug = "" })">
                    <i class="menu-icon menu-icon-house"></i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </nav>

    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <section class="body-content m-scene" id="main">
                <div class="col-md-8" id="render_body">

                    @RenderBody()

                </div>

                <div class="col-md-4 col-sm-8 col-xs-12" data-spy="affixs" data-offset-top="0">
                    <div class="panel">
                        <div class="panel-body panel-search">
                            <input type="search" placeholder="Search" id="Search_Article" />
                            <span onclick="callSearchArticle($('#Search_Article').val())"><i class="fa fa-search"></i></span>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Featured</h2>
                        </div>
                        <div class="panel-body" id="featured">
                            @*  *@
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <input placeholder="Enter your email address" class="input-subscribe">
                                    <button class="btn btn-subscribe" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-body">
                            <h2 style="display: inline-block;">Follow Us:</h2>
                            <br />
                            <i class="fa fa-facebook fa-2x" style="padding: 0 10px 0 20px;"></i>
                            <i class="fa fa-behance fa-2x" style="padding: 0 10px 0 20px;"></i>
                            <i class="fa fa-linkedin fa-2x" style="padding: 0 10px 0 20px;"></i>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Availabe On:</h2>
                        </div>
                        <div class="panel-body">
                            <img src="@Url.Content("~/images/AvailabeOn.jpg")" class="img-responsive" />
                            <span>Copyright © 2014 KSQ. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="col-lg-8 col-lg-offset-2">
            <ul>
                <li><a href="#">English (UK)</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">More</a></li>
                <li><a href="#">&nbsp·&nbsp</a></li>
                <li><a href="#">Bento © 2014</a></li>
            </ul>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="zoom_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="zoom-close" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></span>
                    <div class="zoom-btn">
                        <span class="zoom-in"><i class="fa fa-search-plus fa-2x"></i></span>
                        <span class="zoom-out"><i class="fa fa-search-minus fa-2x"></i></span>
                    </div>
                    <img src="" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="loading" aria-hidden="false">
        <div class="modal-dialog">
            <img src="@Url.Content("~/images/loading.gif")" class="img-responsive" />
        </div>
    </div>
    <div id="hiddendiv" style="display: none;"></div>
    @*Popup update password for social login*@
    <div class="popup-pwd">
        <a class="close xclose">x</a>
        <div class="content">
            <span class="error-mes">Almost done, please fill in information below</span>
            <input id="fullname" name="fullname" placeholder="Fullname" type="text" disabled="disabled" class="text-box" value="" />
            <input id="username" name="username" placeholder="Username" type="text" disabled="disabled" class="text-box" value="" />
            <input id="password" name="password" placeholder="Password" type="password" class="text-box" value="" />
            <input id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" type="password" class="text-box" value="" />
            <a class="button-submit" href="javascript:void(0)" onclick="update_password();">CREATE ACCOUNT</a>
        </div>
    </div>
    <a class="hidden" id="facebooklogout"></a>
    <div id="fb-root"></div>
    <div class="trans-background"></div>
    <!-- JavaScript -->
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    <script>
        var appID = '382878205195157';
        // This is called with the results from from FB.getLoginStatus().
        window.fbAsyncInit = function () {
            FB.init({
                appId: appID,
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.1' // use version 2.1
            });

            $('#facebooklogin').click(function () {
                FB.login(function (response) {
                    if (response.authResponse) {
                        //console.log(response); // dump complete info
                        access_token = response.authResponse.accessToken; //get access token
                        user_id = response.authResponse.userID; //get FB UID

                        FB.api('/me', function (response) {
                            user_email = response.email; //get user email
                            user_name = response.name;
                            user_gender = 0;
                            if (response.gender == "male") {
                                user_gender = 1;
                            }
                            else if (response.gender == "female") {
                                user_gender = 2;
                            }

                            showPopupPwd(user_name, user_email, user_gender, 'Facebook');
                        });

                    } else {
                        //user hit cancel button
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, {
                    scope: 'public_profile,email'
                });
            });

            $('.share-tools .share-social span.facebook').click(function () {
                var url = $(this).attr('data-url');
                FB.ui({
                    method: 'share',
                    href: url,
                }, function (response) { });
            });

            $('#facebooklogout').click(function () {
                FB.logout(function (response) {
                    // user is now logged out
                    console.log('facebook logout success!');
                });
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>

    <script src="https://apis.google.com/js/client:platform.js?onload=ggrender" async defer></script>
    <script>
        /* Executed when the APIs finish loading */
        function ggrender() {
            //console.log('render google button sign in');
            // Additional params
            var additionalParams = {
                'theme': 'dark',
                'scope': 'email',
                'callback': 'signinCallback'
            };

            // Attach a click listener to a button to trigger the flow.
            var signinButton = document.getElementById('signIngoogleplus');
            if (signinButton) {
                signinButton.addEventListener('click', function () {
                    console.log('in google login button click');
                    gapi.auth.signIn(additionalParams); // Will use page level configuration
                });
            }
        }

        function googlelogout() {
            gapi.auth.signOut();
        }

        function signinCallback(authResult) {
            if (authResult['status']['signed_in']) {
                // Update the app to reflect a signed in user
                // Hide the sign-in button now that the user is authorized, for example:
                //document.getElementById('signinButton').setAttribute('style', 'display: none');
                gapi.client.load('plus', 'v1', function () {
                    var request = gapi.client.plus.people.get({
                        'userId': 'me'
                    });
                    request.execute(function (resp) {
                        gg_name = resp.displayName;
                        gg_gender = resp.gender;
                        var primaryEmail;
                        for (var i = 0; i < resp.emails.length; i++) {
                            if (resp.emails[i].type === 'account') primaryEmail = resp.emails[i].value;
                        }
                        showPopupPwd(gg_name, primaryEmail, gg_gender, 'Google+');
                    });
                });

            } else {
                // Update the app to reflect a signed out user
                // Possible error values:
                //   "user_signed_out" - User is signed-out
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                console.log('Sign-in state: ' + authResult['error']);
            }
        }

    </script>

    <script type="text/javascript">
        var username = "@ViewBag.username";
        var pwd = "@ViewBag.md5pwd";

        var listBottom = '';

        $(document).ajaxStart(function () {
            //console.log('BEGIN');
            $('#loading').show();
        });

        $(document).ajaxError(function (event, request, settings) {
            var url = location.href;
            if (location.pathname != '/') {
                url = url.replace(location.pathname, '/error404')
            }
            else {
                url = url + '/error404';
            }
            if (location.href != url)
                location.replace(url)
        });

        $(document).ajaxStop(function (event, request, settings) {
            //console.log('END.');
            $('#all').find('a').attr('href', "@Url.RouteUrl("Article", new { manageSlug = "", articleSlug = "" })");

            var indexInList = -9;
            $('.list-view .view-item').each(function (index) {
                if ($(this).find('a:first-child').attr('href') == location.pathname) {
                    indexInList = index;
                }
            });
            $('.next-previous').html('<span class="btn-setting" id="prevArticle" onclick="clickArticle(' + ((indexInList - 1 >= 0) ? (indexInList - 1 + 1) : (-1 + 1)) + ')" ><i class="fa fa-chevron-left fa-2x"></i></span><span class="btn-setting" id="nextArticle" onclick="clickArticle(' + (indexInList + 1 + 1) + ')" ><i class="fa fa-chevron-right fa-2x"></i></span>');

            //manage
            var categName = $.cookie("categName");
            if (categName) {
                if (location.pathname.replace(/\//g, '').indexOf('favorite') == 0) {
                    var ok = 0;
                    $('.manage-view .multi-level a').each(function (index) {
                        if (location.pathname.indexOf($(this).attr('href')) >= 0) {
                            categName = $(this).text();
                            ok = 1;
                            return false;
                        }
                    });
                    if (!ok) {
                        var url = location.href;
                        if (location.pathname != '/') {
                            url = url.replace(location.pathname, '/error404')
                        }
                        else {
                            url = url + '/error404';
                        }
                        location.replace(url)
                    }
                    $('#manage-breadcrumb')
                        .append('<li class="btn-address active" title="' + categName + '">' + categName.substr(0, 17) + '...</li>');
                }
                $.removeCookie("categName", { path: '/' });
            }

            var manageSlug = '@ViewBag.manageSlug';
            var articleSlug = '@ViewBag.articleSlug';
            if (manageSlug || articleSlug) {
                if (articleSlug) {
                    if (manageSlug) {
                        //load article
                        $('.manage-view, .list-view').hide();
                        $('.article-view').show();
                    }
                }
                else {
                    //load manage
                    $('.article-view, .manage-view').hide();
                    $('.list-view').show();
                }
            }
            $('#loading').show().delay(500).hide("slow");
        });

        $(document).ready(function () {

            getFeatured(username, pwd);

            $('#Search_Article').keypress(function (e) {
                if (e.which == 13) {
                    callSearchArticle($.trim($(this).val()));
                }
            });

            $('.popup-pwd .xclose').click(function () {
                $(this).parent().fadeOut();
                $('.trans-background').hide();
            });

        });

        $(document).keydown(function (e) {
            switch (e.which) {
                case 37: // left
                    $('#prevArticle').click();
                    break;

                    //case 38: // up
                    //    break;

                case 39: // right
                    $('#nextArticle').click();
                    break;

                    //case 40: // down
                    //    break;

                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });

        function callSearchArticle(string) {
            $.cookie('search_string', string, { expires: 1, path: '/' });
            $('#Search_Article').val('');
            var url = $('#Logo_Bento').attr('href');
            location.replace(url);
        }

        function getArticleView(slug, category, indexInList) {
            getDetailOfArticle(username, pwd, slug, category, indexInList);
        }

    </script>

</body>
</html>
