﻿@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helvetica-neue-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}
/*bootstrap*/
.breadcrumb {
    background-color: #eeeeee;
}

/*bootstrap.min*/
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f8f8f8;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #f2f2f2;
}


/*dataTables.bootstrap*/

/*font-awesome*/
.fa {
    padding-right: 5px;
}

/*sb-admin*/
body {
    background-color: #fbfbfb;
}

#wrapper {
    padding-left: 125px;
}

.side-nav {
    margin-left: -125px;
    left: 125px;
    width: 125px;
}

    .side-nav:hover {
        margin-left: -225px;
        left: 225px;
        width: 225px;
    }

/*site*/
.field-validation-error {
    color: red;
}

ul {
    list-style: outside none none;
}
