﻿@using System.Web.Optimization
@{
    ViewBag.Admin = "Administrator";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - BENTO Admin</title>

    @Styles.Render("~/bundles/css")
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">BENTO Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>New <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("NewUserProfile", "Admin")">User Profile</a></li>
                            @*<li><a href="@Url.Action("NewCategory", "Admin")">Category</a></li>*@
                            <li><a href="@Url.Action("NewInterest", "Admin")">Interest</a></li>
                            <li><a href="@Url.Action("NewArticle", "Admin")">Article</a></li>
                            <li><a href="@Url.Action("NewSponsor", "Admin")">Sponsor</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("UserProfiles", "Admin")"><i class="fa fa-users"></i>User Profiles</a></li>
                    @*<li><a href="@Url.Action("Category", "Admin")"><i class="fa fa-list-alt"></i>Category</a></li>*@
                    <li><a href="@Url.Action("Interest", "Admin")"><i class="fa fa-heart"></i>Interest</a></li>
                    <li><a href="@Url.Action("Articles", "Admin")"><i class="fa fa-files-o"></i>Articles</a></li>
                    <li><a href="@Url.Action("Comments", "Admin")"><i class="fa fa-comments"></i>Comments</a></li>
                    <li><a href="@Url.Action("Notes", "Admin")"><i class="fa fa-thumb-tack"></i>Notes</a></li>
                    <li><a href="@Url.Action("Messages", "Admin")"><i class="fa fa-envelope"></i>Messages</a></li>
                    <li><a href="@Url.Action("Subscribe", "Admin")"><i class="fa fa-rss-square"></i>Subscribe</a></li>
                    <li><a href="@Url.Action("Sponsors", "Admin")"><i class="fa fa-rocket"></i>Sponsors</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    @*<li class="dropdown messages-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i>Messages <span class="badge">7</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">7 New Messages</li>
                                <li class="message-preview">
                                    <a href="#">
                                        <span class="avatar">
                                            <img src="http://placehold.it/50x50"></span>
                                        <span class="name">John Smith:</span>
                                        <span class="message">Hey there, I wanted to ask you something...</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>4:34 PM</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="message-preview">
                                    <a href="#">
                                        <span class="avatar">
                                            <img src="http://placehold.it/50x50"></span>
                                        <span class="name">John Smith:</span>
                                        <span class="message">Hey there, I wanted to ask you something...</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>4:34 PM</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="message-preview">
                                    <a href="#">
                                        <span class="avatar">
                                            <img src="http://placehold.it/50x50"></span>
                                        <span class="name">John Smith:</span>
                                        <span class="message">Hey there, I wanted to ask you something...</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>4:34 PM</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">View Inbox <span class="badge">7</span></a></li>
                            </ul>
                        </li>*@
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>@ViewBag.Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>Inbox <span class="badge">7</span></a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Settings</a></li>
                                <li class="divider"></li>*@
                            <li><a href="@Url.Action("Logout", "Admin")"><i class="fa fa-power-off"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
    @Scripts.Render("~/bundles/script")
    <script type="text/javascript" src="@Url.Content("~/js/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/ckfinder/ckfinder.js")"></script>
    <script>
        //check API
        //function getListArticlesOfInterest(username, pwd, manageSlug, pages, itemsPerPage) {
        //    $.ajax({
        //        type: 'POST',
        //        url: 'http://bentoportal.com/portal/api/interests/time-management-f52c5feb/slugarticles',
        //        dataType: 'json',
        //        data: { "Username": username, "Password": pwd, "Page": pages, "ItemsPerPage": itemsPerPage + 1 },
        //        crossDomain: true,
        //        success: function (result) {
        //            console.log(result);
        //        },
        //        error: function () {
        //        }
        //    });
        //}

        //getListArticlesOfInterest('haivo@gmail.com', 'e10adc3949ba59abbe56e057f20f883e','', 1, 10);

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
