﻿@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helvetica-neue-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}

ul {
    list-style: outside none none;
}

h1, h2, h3 {
}

span, cite {
    color: #959595;
}

cite {
    font-style: italic;
    display: block;
}

q {
}

a:hover, a:focus {
    text-decoration: none;
}

hr {
    margin-bottom: 15px;
    margin-top: 10px;
    border-color: #a1a1a1;
}

body {
    min-height: 100%;
    background-color: #ecf0f1;
    padding-top: 110px;
    padding-bottom: 110px;
}

/**/



/* nav */
.nav-pills > li > a {
    border-radius: 0;
}

.navbar, .footer,
.navbar a, .footer a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    width: 100%;
    height: 110px;
    background-color: #1d1847;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
    box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
    -moz-box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
    -webkit-box-shadow: 1px 1px 0 #e5e9ed; /* drop shadow */
}

    .navbar .logo {
        display: block;
        float: left;
        width: 225px; /*(1)*/
        height: 100%;
        line-height: 110px; /*(2)*/
        margin: 0;
    }

    .navbar .navbar-menu {
        height: 100%;
        list-style: none;
        margin: 0 0 0 225px; /*(1)*/
        padding: 0;
    }

        .navbar .navbar-menu li {
            height: 100%;
            float: right;
            padding-left: 50px;
        }

            .navbar .navbar-menu li a {
                display: block;
                text-align: right;
                line-height: 110px; /*(2)*/
                font-size: 1.2em;
            }

                .navbar .navbar-menu li a:hover .menu-icon,
                .navbar .navbar-menu li a.selected .menu-icon {
                    background-image: url("../images/MenuHomeIcon_Selected.png");
                }

.navbar-menu li .menu-icon {
    top: 14px;
}

.menu-icon {
    display: inline-block;
    background-image: url("../images/MenuHomeIcon.png");
    background-repeat: no-repeat;
    position: relative;
    height: 29px;
}

.menu-icon-house {
    width: 33px;
    background-position: 0 0;
}

.menu-icon-manage {
    width: 33px;
    background-position: -33px 0;
}

.menu-icon-profile {
    width: 33px;
    background-position: -66px 0;
}

.menu-icon-sponsor {
    width: 101px;
    background-position: -99px 0;
}

.menu-icon-search {
    width: 33px;
    background-position: -200px 0;
}

/* end nav */



/* container */
.container {
    position: relative;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
    padding: 0;
}

.body-content {
    height: 100%;
    padding-top: 18px;
    margin: 0 -15px;
}

.panel {
    background-color: #ecf0f1;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}

.panel-heading {
    border: none;
    color: #333333;
    padding: 0;
}

.panel-body {
    padding: 0;
}

.feature-item {
    border-bottom: 1px solid #a1a1a1;
    margin: 10px 0 15px;
    display: block;
    padding-left: 75px;
    padding-bottom: 10px;
    min-height: 65px;
    position: relative;
}

    .feature-item img {
        position: absolute;
        left: 0;
        display: inline-block;
        margin-right: 10px;
        max-width: 65px;
    }

    .feature-item a {
        color: inherit;
    }

.quote {
    display: inline-block;
}

    .quote:before {
        content: open-quote;
    }

    .quote:after {
        content: close-quote;
    }

.form-group {
    margin: 0;
    position: relative;
}

.input-subscribe {
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #a3b1bf;
    display: block;
    font-size: 1.2em;
    height: 45px;
    padding: 6px 118px 6px 12px;
    width: 100%;
    font-style: italic;
}

.btn-subscribe {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ed1551;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top: 5px;
    right: 5px;
}

.panel-search {
    max-width: 299px;
    margin-top: 25px;
    position: relative;
}

    .panel-search > input[type="search"], .panel-search > span {
        padding: 10px;
        color: #a3b1bf;
        line-height: 1.4em;
    }

    .panel-search > input[type="search"] {
        border: 1px solid rgba(0,0,0,.24);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f2f2f2;
        font-style: italic;
        font-weight: bold;
        width: 100%;
        padding-right: 50px;
    }

    .panel-search > span {
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

/* home */
.setting {
    margin: 20px 0 10px;
    position: relative;
}

    .setting > li {
        float: left;
        margin-bottom: 10px;
    }

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
    background-color: #fff;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
}

    .breadcrumb li, .breadcrumb li a {
        line-height: 20px;
        text-decoration: none;
    }

    .breadcrumb > li + li {
        margin-left: -4px;
    }

        .breadcrumb > li + li:before {
            color: transparent;
            content: " ";
            padding: 0;
        }

.btn-address, .btn-setting {
    max-height: 50px;
    cursor: pointer;
}

.btn-address {
    padding: 15px;
    margin-right: 15px !important;
    background-color: #ffffff;
    position: relative;
    max-width: 172px;
}

    .btn-address:after {
        display: block;
        content: " ";
        border-color: transparent #ffffff;
        border-style: solid;
        border-width: 25px 0 25px 15px;
        position: absolute;
        top: 0;
        right: -15px;
    }

    .btn-address:before {
        display: block;
        content: " ";
        border-color: #ffffff transparent;
        border-style: solid;
        border-width: 25px 0 25px 15px;
        position: absolute;
        top: 0;
        left: -15px;
    }

    .btn-address.btn-setting {
        padding: 15px 8px;
    }

        .btn-address.btn-setting:after {
            border-left-color: #ed1651;
        }

        .btn-address.btn-setting:before {
            content: none;
        }

    .btn-address.active {
        background-color: #e9e9e9;
        margin-right: 0 !important;
    }

        .btn-address.active:before {
            border-color: #e9e9e9 transparent;
        }

        .btn-address.active:after {
            content: none;
            display: none;
        }

        .btn-address.active > a {
            color: inherit;
        }

    .btn-address.btn-setting .menu-icon {
        margin-top: -14px;
        top: 10px;
    }

    .btn-address:hover:after {
        border-left-color: #1d1847;
    }

    .btn-address:hover:before {
        border-color: #1d1847 transparent;
    }

.btn-search {
    max-width: inherit;
}



.btn-setting {
    padding: 15px;
    margin-right: 10px;
    background-color: #ed1651;
    display: inline-block;
}

    .btn-setting:hover,
    .btn-address:hover,
    .change-view .btn-setting,
    .dropdown.open .btn-setting,
    #collapse_choose_interest .btn-setting,
    #collapse_choose_interest .btn-setting.collapsed:hover {
        background-color: #1d1847;
    }

        #collapse_choose_interest .btn-setting.collapsed {
            background-color: #ed1651;
        }

.setting-icon {
    display: inline-block;
    line-height: 50px;
    background-image: url("../images/SettingIcon.png");
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    height: 20px;
}

.setting-icon-show {
    width: 20px;
    background-position: 0 0;
}

.setting-icon-setting {
    width: 20px;
    background-position: -20px 0;
}

.setting-icon-card {
    width: 20px;
    background-position: -39px 0;
}

.setting-icon-title {
    width: 20px;
    background-position: -60px 0;
}

.dropdown-menu {
    background-clip: unset;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 9px 9px 12px;
    margin: 0;
    padding: 0;
}

    .dropdown-menu .divider {
        background-color: #a1a1a1;
        margin: 0;
    }

    .dropdown-menu > li > a {
        padding: 10px 20px;
        position: relative;
    }

    .dropdown-menu > li > input[type="checkbox"] {
        display: none;
        position: relative;
    }

    .dropdown-menu > li .btn {
        width: 100%;
        border-radius: 0;
    }

form .btn.submit-hidden {
    display: none;
    visibility: hidden;
}

.multi-level {
    /*max-height: 778px;*/
}

    .multi-level.dropdown-menu > li > a,
    .dropdown-submenu .dropdown-menu > li > a,
    #choose-interest.dropdown-menu > li > a {
        padding-right: 50px;
    }

.check-interest {
    background-color: #ffffff;
    border: 8px solid #ffffff;
    border-radius: 50%;
    display: block;
    height: 36px;
    position: absolute;
    right: 5px;
    top: 2px;
    visibility: visible;
    width: 36px;
}

    .check-interest:before {
        border: 4px solid #999999;
        border-radius: 50%;
        content: "";
        display: block;
        height: 36px;
        left: -8px;
        position: absolute;
        top: -8px;
        visibility: visible;
        width: 36px;
    }

    .check-interest.checked {
        background-color: #ed1650;
    }

/*Sub-menu*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    /*.dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }*/

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
/*end sub-menu*/

.count-number {
    color: inherit;
    position: absolute;
    right: 10px;
}

    .count-number.out {
        font-size: 1.8em;
        line-height: 3em;
        top: 0;
        cursor: pointer;
    }

.list-view,
.article-view,
.profile-view,
.manage-view,
.sponsor-view {
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 1370px;
    margin: 0 -15px;
    padding: 0 15px;
}

.view-item {
    display: block;
    position: relative;
    margin: 0 -15px 20px;
    min-height: 290px;
}

    .view-item img {
        display: inline-block;
        position: relative;
        left: 0;
    }

.more {
    font-style: italic;
    float: right;
    color: #3ac2cf;
    cursor: pointer;
}

.title,
.title a {
    color: #3ac2cf !important;
    text-transform: uppercase;
    text-decoration: none;
}

.interest-name {
    color: #ffffff;
    background-color: #1d1847;
    margin-top: 0;
    padding: 5px 10px;
}

.card-view {
}

    .card-view .view-item {
        min-height: 290px;
    }

    .card-view h2.title {
        display: none;
    }

.title-view {
}

    .title-view .view-item {
        min-height: 110px;
    }

    .title-view .more,
    .title-view cite,
    .title-view p {
        display: none;
    }

        .title-view p.result {
            display: block;
        }

    .title-view .title {
        margin-top: 10px;
    }

    .title-view h1.title {
        display: none;
    }
/* end home */



/* article */
.article-view,
#breadcrumb_link,
#search-breadcrumb {
    display: none;
}

.next-previous {
    margin: 0 -15px;
    padding: 0 15px;
}

.article-view .title {
    padding-right: 33.33%;
}

.article-view cite {
    color: #333333;
}

.article-view .article-content {
    min-height: 110px;
}

.next-previous {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin: 20px 0 0;
}

    .next-previous .btn-setting:last-child {
        margin-left: -5px;
        margin-right: 0;
    }

    .next-previous .btn-setting .fa {
        color: #ffffff;
        position: relative;
        top: -4px;
    }

.article-tools {
    margin: 20px 0;
    background-color: #1d1847;
    width: 100%;
    min-height: 60px;
    padding: 8px 20px;
}

.btn-tool {
    height: 44px;
    margin: 0 20px;
    cursor: pointer;
}

    .btn-tool:first-child {
        margin-left: 0;
    }

.article-tools .btn-tool:first-child {
    margin-left: 0;
}

.like-tool {
    height: 44px;
    float: right;
}

    .like-tool .btn-tool {
        height: 44px;
        margin: 0;
    }

.like-number {
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: -13px;
}

.article-tools .btn-tool:hover .tool-icon,
.article-tools .btn-tool.selected .tool-icon,
.media .btn-tool.selected .tool-icon,
.view-item .btn-tool.selected .tool-icon {
    background-image: url("../images/ArticleTools_Selected.png");
}

.tool-icon {
    display: inline-block;
    background-image: url("../images/ArticleTools.png");
    background-repeat: no-repeat;
    position: relative;
    height: 44px;
}

.tool-icon-comment {
    width: 44px;
    background-position: 0 0;
}

.tool-icon-note {
    width: 44px;
    background-position: -44px 0;
}

.tool-icon-share {
    width: 44px;
    background-position: -88px 0;
}

.tool-icon-like {
    width: 44px;
    background-position: -132px 0;
}

.share-tools,
.notes-list,
.user-note,
.comments-list {
    width: 100%;
    min-height: 110px;
    display: none;
    margin: 20px 0;
}

.share-tools {
    background-color: #3ac2cf;
}

    .share-tools .btn-tool {
        display: inline-block;
        margin: 20px 1%;
        text-align: center;
        width: 18%;
    }

        .share-tools .btn-tool .fa {
            color: #ffffff;
        }

    .share-tools .share-social,
    .share-tools .share-default {
        text-align: center;
    }

        .share-tools .share-social .btn-tool {
            width: 17%;
        }

.write-text {
    margin: 10px -15px 25px;
    min-height: 110px;
}

    .write-text > div {
        min-height: 110px;
    }

    .write-text img,
    .media > a > img {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #fff;
        -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    }

    .write-text textarea {
        color: #bbbbbb;
        font-style: italic;
        font-weight: bold;
        padding-right: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        resize: none;
        background-color: #fff;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
        box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    }

    .write-text .fa {
        color: #bbbbbb;
        margin: 36px 20px;
        position: absolute;
        right: 15px;
        top: 0;
    }

.user-note {
    display: block;
    background-color: #f1f1f1;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    position: relative;
}

    .user-note .btn-close {
        width: 33px;
        height: 33px;
        background-color: #1d1747;
        position: relative;
        display: block;
        float: right;
        text-align: center;
        cursor: pointer;
    }

        .user-note .btn-close .fa {
            color: #ffffff;
        }

    .user-note > p {
        padding: 20px;
        height: 100%;
    }

        .user-note > p > span {
            display: block;
            text-transform: uppercase;
            font-size: 1.8em;
        }

.media-list {
    color: #666666;
}

    .media-list > .media {
        margin: 20px -15px;
    }

        .media-list > .media:after {
            border-bottom: 1px solid;
            bottom: 0;
            content: " ";
            display: flex;
            margin: 10px 15px 0;
        }

        .media-list > .media .media-body {
            padding-bottom: 10px;
        }

.media > .media {
    overflow: visible;
}

.media-body .media {
    margin: 20px -15px auto;
}

.media-body .like-tool {
    height: 34px;
    margin-top: -10px;
}

    .media-body .like-tool .like-number {
        color: #3ac2cf;
        font-weight: normal;
    }

    .media-body .like-tool .tool-icon {
        background-image: url("../images/ArticleTools_333.png");
    }

.media .pull-left,
.media .pull-right {
    margin-right: 0;
}

.comment-text {
    background-color: #ffffff;
    padding: 10px;
}

.reply-comment {
    font-style: italic;
    cursor: pointer;
}

#send-note,
#send-comment {
    cursor: pointer;
}

/* end article */


/* profile*/
.profile-view {
}

.log-in {
    display: none;
}

    .log-in input,
    .log-in a,
    .log-in label {
        display: block;
        line-height: 2em;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .log-in label {
        text-transform: uppercase;
        color: #3ac2cf;
        font-size: 1.8em;
    }

    .log-in input {
        border: medium solid #898989;
        color: #898989;
        padding: 5px 10px;
        text-align: left;
        font-weight: bold;
    }

    .log-in a {
        color: #ffffff;
        font-size: 1.4em;
        padding: 10px;
    }

    .log-in > a.facebook-login {
        background-color: #39579b;
    }

    .log-in > a.googlepls-login {
        background-color: #dd4c30;
    }

    .log-in > a > i {
        float: left;
    }

    .log-in a.button {
        display: inline-block;
        max-width: 30%;
        border: medium solid #3ac2cf;
        text-transform: uppercase;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

        .log-in a.button.signup {
            background-color: #3ac2cf;
        }

        .log-in a.button.login {
            color: #3ac2cf;
        }

#sign-up {
    display: none;
}

.error_msg {
    color: #dd4c30;
    font-style: italic;
}

.profile-info,
.profile-func {
    margin: 0 -15px 20px;
    color: #999999;
    position: relative;
}

    .profile-info .btn-tool {
        bottom: 0;
        cursor: pointer;
        display: block;
        min-height: 40px;
        padding: 0 15px;
        position: absolute;
        right: 0;
    }

    .profile-info input {
        background-color: #ecf0f1;
        border: medium none;
        display: none;
        width: 100%;
    }

    .profile-info .btupload {
        position: absolute;
        bottom: 0px;
        right: 25px;
        border: none;
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity:0);
        background: none;
        z-index: 2;
        width: 60px;
        height: 50px;
        padding: 0px;
        margin: 0px;
    }

    .profile-info .fakeupload {
        z-index: 1;
    }

.cover-photo {
    margin: 20px 0 50px;
    width: 100%;
}

.cam-icon {
    display: inline-block;
    background-image: url("../images/cam_icon.png");
    background-repeat: no-repeat;
    position: relative;
    height: 30px;
}

    .cam-icon.hover {
        background-image: url("../images/cam_icon_hover.png");
    }

.cam-icon-cam {
    width: 40px;
    background-position: 0 0;
}

.avatar-name {
    position: relative;
}

.name-addr {
}

.profile-name,
.profile-addr {
    margin-top: 0;
    vertical-align: bottom;
    text-align: left;
}

.profile-name,
.profile-name-input,
.info-label,
.profile-func a {
    color: #3ac2cf;
}

.profile-func a {
    font-size: 1.8em;
    padding-right: 10px;
}

.profile-name,
.profile-name-input {
    text-transform: uppercase;
}

.profile-addr,
.profile-addr-input {
    font-size: 1.7em;
}

.info-value {
    float: right;
    color: #999999;
}

.profile-func {
    margin-top: 50px;
}

    .profile-func a {
        text-decoration: none;
    }

#Birthday, .birthday-icon {
    color: #999999;
    display: none;
    line-height: 1.7em;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 15px;
}

#Birthday {
    opacity: 0;
    z-index: 2;
}

.birthday-icon {
    color: blue;
}

#select_gender {
    background-color: #ecf0f1;
    border: medium none;
    bottom: 10px;
    color: #999999;
    font-size: 1.7em;
    line-height: 1.7em;
    position: absolute;
    right: 15px;
    text-align: right;
    display: none;
}

    #select_gender > option {
        border: medium none;
    }

#SubmitAvatar, #ajaxUpdate {
    display: none;
}
/* end profile */


/* manage */
#Search {
    border: medium none;
    line-height: 1em;
    margin: -5px 5px;
    outline: medium none;
    padding: 5px 10px;
    position: relative;
    display: none;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.hr_search {
    border: 2px solid #3ac2cf;
    float: left;
    width: 50px;
}

.manage-view {
    color: #666666;
}

    .manage-view ul {
        padding-left: 0;
    }

    .manage-view.list-view {
        display: none;
    }

    .manage-view ul li {
        border: 1px solid;
        border-color: transparent;
        border-top-color: #484848;
        position: relative;
    }

    .manage-view > ul > li:last-child {
        border-bottom-color: #484848;
    }

    .manage-view ul li a {
        font-size: 1.8em;
        line-height: 3em;
        width: 100%;
        display: block;
        color: inherit;
        text-decoration: none;
    }

    .manage-view.list-view.card-view .title,
    .sponsor-view.list-view.card-view .title {
        display: block;
        margin-top: 0;
    }

    .manage-view.list-view.card-view .author,
    .sponsor-view.list-view.card-view .webaddr {
        position: relative;
        background-color: #1d1847;
        padding: 5px 10px;
        color: #ffffff;
        margin: 20px auto 10px;
    }

        .manage-view.list-view.card-view .author h3,
        .sponsor-view.list-view.card-view .webaddr h3 {
            margin: 0;
            display: inline;
        }

    .manage-view.list-view.card-view .like-tool {
        position: relative;
        display: inline;
        bottom: 10px;
    }

h3.webaddr a {
    color: #ffffff !important;
}

.level,
.sub-level {
    position: relative;
}

    .level > li.open > .sub-level {
        display: block;
    }

.sub-level {
    display: none;
}

/* end manage */



/* sponsor */
#sponsor-nav,
.sponsor-view.sponsor-detail {
    display: none;
}

.sponsor-view {
    margin-top: 20px;
}

    .sponsor-view .view-item img {
        background-color: #e9e9e9;
    }

.sponsor-more-info {
    background-color: #39c1cf;
    -moz-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    -webkit-box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    box-shadow: 4px 3px 10px rgba(33,30,30,.3);
    float: right !important;
}

    .sponsor-more-info > a {
        display: table !important;
        padding: 15px !important;
        color: #fff;
    }

        .sponsor-more-info > a > i {
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 0 0 10px;
            position: relative;
            top: 3px;
        }

.sponsor-detail {
    text-align: center;
}

    .sponsor-detail h2 {
        color: #3ac2cf;
    }

    .sponsor-detail img {
        display: inline;
    }

    .sponsor-detail .contact-info {
        line-height: 2em;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .sponsor-detail .contact-info i {
            color: #3ac2cf;
            left: -10px;
            margin-left: -8px;
            position: relative;
        }

/* end sponsor */


/*footer*/
.footer {
    height: 110px;
    background-color: #1d1847;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important;
}

    .footer ul {
        height: 100%;
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    .footer li {
        height: 100%;
        float: left;
    }

        .footer li a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: left;
            line-height: 110px; /*(2)*/
            font-size: 1.2em;
        }
/* end footer */
#zoom_img {
}

    #zoom_img .modal-content {
        border-radius: 0;
        box-shadow: none;
    }

    #zoom_img .modal-body {
        padding: 0;
        position: relative;
    }

    #zoom_img .zoom-close {
        position: absolute;
        left: 0;
    }

    #zoom_img .zoom-close,
    #zoom_img .zoom-in,
    #zoom_img .zoom-out {
        color: #ccc;
        opacity: 1;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
    }

    #zoom_img .zoom-btn {
        position: absolute;
        right: 0;
    }

    #zoom_img img {
        width: 100%;
    }

#loading {
    background-color: rgba(0, 0, 0, 0.24);
    transition: all 1s ease 2s;
}

    #loading .modal-dialog {
        transition: none;
        transform: none;
        margin: 20% auto;
        width: 42px;
    }

        #loading .modal-dialog img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

/***************POPUP-PWD****************/
.popup-pwd {
    width: 25%;
    position: fixed;
    top: 20%;
    left: 37.5%;
    background-color: #ecf0f1;
    display: none;
    z-index: 99999;
}

    .popup-pwd span {
        color: #000;
    }

    .popup-pwd .xclose {
        margin-right: 5px;
    }

    .popup-pwd .content {
        width: 100%;
        padding: 20px;
    }

    .popup-pwd .text-box {
        width: 100%;
        padding: 8px;
        margin-top: 20px;
        display: block;
    }

    .popup-pwd .button-submit {
        width: 100%;
        background-color: #3ac2cf;
        display: block;
        margin-top: 20px;
        text-align: center;
        padding: 8px;
        font-weight: bold;
        color: #fff;
    }

    .popup-pwd .dummy-error {
        display: block;
        margin-top: 10px;
    }

.trans-background {
    background-color: #000;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*************END-POPUP-PWD**************/


/* Responsive */
@media (max-width: 767px) {
    .view-item {
        min-height: inherit !important;
    }

    .navbar .navbar-menu {
        margin-left: 0 !important;
    }

        .navbar .navbar-menu li {
            padding-left: 7%;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 1919px) {
    body {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .navbar, .footer {
        height: 72px;
    }

        .navbar .logo,
        .navbar .navbar-menu li a,
        .footer li a {
            line-height: 72px;
        }

    .card-view .view-item {
        min-height: 182px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.4em;
    }
}

/*
 * Keyframes
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
}

    /** Basic styles for an animated element */
    .m-scene .scene_element {
        animation-duration: 0.5s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }

    /** An element that fades in */
    .m-scene .scene_element--fadein {
        animation-name: fadeIn;
    }

    /** An element that fades in and slides up */
    .m-scene .scene_element--fadeinup {
        animation-name: fadeInUp;
    }

    /** An element that fades in and slides from the right */
    .m-scene .scene_element--fadeinright {
        animation-name: fadeInRight;
    }

/*temp*/
.article-content li,
.article-content span {
    background-color: rgba(0, 0, 0, 0) !important;
}
